 <div id="contacts" class="page-layout carded boxed right-sidenav" layout="row">

  <!-- CENTER -->
  <div class="center" layout="column" layout-align="center center" flex>

    <!-- CONTENT-CARD -->
    <div class="content-card" layout="column" flex>

      <!-- PRIMARY TOOLBAR -->
      <div class="toolbar" layout="row" layout-align="space-between center">
                <div layout="row" layout-align="start center">
                    <md-button class="md-icon-button close-thread" aria-label="Back"
                               ng-click="vm.toggleChildStates('app.contacts.supplier')">
                        <md-icon md-font-icon="icon-keyboard-backspace"></md-icon>
                    </md-button>

                    <div class="divider-vertical"></div>

                    <h2>New Supplier</h2>
                </div>
                <div layout="row" layout-align="start center">
                    
                </div>
            </div>
                <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <md-content flex ms-scroll>

                <!-- DEMO CONTENT -->  
                
          <div ng-include="'app/main/contacts/views/supplier/compose/supplierComposeChild.html'"></div>
                <!-- / DEMO CONTENT -->
          </md-content>

          <div class="footersection" layout="row" layout-align="end center" style="min-height: 40px;">
            <md-button class="md-primary md-hue-3" ng-click="vm.cancel()" ng-disabled="editForm.$invalid" style="border:2px solid">cancel</md-button>
            <md-button class="md-primary" ng-click="vm.submit()" style="border:2px solid">save</md-button>
          </div>
            <!-- / CONTENT -->
    </div>
    <!-- /CONTENT-CARD-->

  </div>
  <!-- /CENTER -->

</div>

