<md-dialog class="customDialogBox" aria-label="cusTool" style="width:800px;">

  <md-toolbar>
      <div class="md-toolbar-tools">
         <h2>New Line Item</h2>
         <span flex></span>
         <md-button href class="md-icon-button" ng-click="vm.cancel()">
            <md-icon  md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
         </md-button>
      </div>
   </md-toolbar>

  <div class="dialogContent pad_32" style="overflow: auto;">
   <form ng-submit="$event.preventDefault()" name="addProd">
   
    <div layout layout-sm="column" layout-margin>
      <md-input-container  style="margin-top:40px;" flex>
            <label>Product or Service</label>
            <input type="text" ng-model="vm.test.productName" ng-disabled="vm.checkAvaialability" required/> 
         </md-input-container>
    </div>

    <div layout layout-sm="column" layout-margin>
      <md-input-container flex style="margin-top:0px;">
        <label>Quantity</label>
        <input type="number" ng-model="vm.test.quantity" ng-change="vm.checkStock(vm.test.quantity)"/>
        </md-input-container>

             <md-input-container style="margin-top: -2px;" flex>
                    <label>Unit</label>
                    <md-select  ng-model="vm.test.productUnit" ng-change="vm.setUOM(vm.test.productUnit)" flex ng-required="true"  name="unit" md-no-asterisk="" name="terms">
                            <md-optgroup label="Terms type">
                        <md-option  ng-repeat="tax in  vm.UnitOfMeasure" value="{{tax.unitsOfMeasurement}}" >{{tax.unitsOfMeasurement}}</md-option>
                    </md-optgroup>
                    </md-select>
                     <div ng-messages="addProd.unit.$error">
                <div ng-message="required">This is required.</div>
              </div>
                </md-input-container>
            

             <md-input-container  style=" margin-top:-1px;" flex>
                <label>Price</label>
                <input type="text" ng-model="vm.test.price" ng-required="true" name="price" ng-change="vm.calculateAMount(vm.test)"/>
                      <div ng-messages="addProd.price.$error">
                    <div ng-message="required">This is required.</div>
                  </div> 
               </md-input-container>
    </div>

    <div layout layout-sm="column" layout-margin>
      <md-input-container  flex>
            <label>Discount</label>
            <input type="text" ng-model="vm.test.discount" ng-disabled="vm.displayDiscountLine" ng-change="vm.changeDiscount(vm.test.discount)"/>
         </md-input-container>

         <md-input-container style="margin-top: 8px;" flex >
                  <label>Tax</label>
                  <md-select  ng-model="vm.test.tax.taxName" ng-disabled="enableTax" ng-change="vm.setTax(vm.test.tax.taxName)" flex >
                        <md-optgroup label="Taxes">
                       <md-option ng-repeat="tax in vm.taxes" value="{{tax.taxName}}">
                   {{tax.taxName}} ({{tax.rate}}%)
                </md-option>
                  </md-optgroup>
                  </md-select>
                   
              </md-input-container>

          <md-input-container style="margin-top:10px;" flex>
            <label>Amount</label>
            <input ng-model="vm.test.amount" ng-disabled="true">
         </md-input-container>
    </div>

    <div layout layout-sm="column" layout-margin>
     <md-input-container flex>
            <label>Optional line comment</label>
            <input type="text" ng-model="vm.test.olp"/>
         </md-input-container>
    </div>
  </form>
  </div>
    <div class="dialogFooter pad_16" layout="row">
   <div  ng-show="vm.showProduct" >
       <span style="color:red" flex>Please fill out required fields </span>
   </div>
   <div ng-show="vm.stocks">
     <span style="color:red;">Required quatity is not available in  the stock.</span>
   </div>
      <span flex></span>
      <md-button  ng-click="vm.edit(vm.test,$index)" style="border:2px solid" class="md-primary" >SAVE</md-button>
   </div>
   
</md-dialog>