<div id="setting" class="contentsection">
    <form class="form" id="form" name="editForm">
	<md-content class="md-content" style="overflow:hidden;">
	<md-divider></md-divider>
    <md-list class="md-list" style="padding:0px 0px 0px 0px">
    <div layout layout-align="start center" style="background-color:#f6f6f6; height:45px;width:100%;">
        <div style="margin-left:18px; font-weight: 500;" >
            Expenses Preference
        </div>
    </div>
	<div class="layout" layout-gt-sm="column" style="padding:0px 0px 10px;">
		<div flex style="padding: 4px 10px 0px;"><p>Expenses Categories</p></div>
		<div class="as-sortable" as-sortable="sortableOptions" ng-model="asdc" flex="100">
			<div class="ng-repeat" ng-repeat="item in vm.Settings12thdoor.preference.expensePref.expenseCategories" as-sortable-item flex>
				<md-card class="add-mdcard" ng-class="item.activate ? '' : 'inactivate'" as-sortable-item-handle flex>
				<md-card-content style="margin: -13px;">
				<div layout="row">
					<div flex>
						<span style="color:#808080;font-size:13px;margin-left:10px;">{{item.expenseCategory}}
							<md-tooltip md-direction="right">Expense Category</md-tooltip>
						</span>
					</div>
					<div flex>
						<md-menu md-position-mode="target-right target" layout="row" layout-align="end end" flex-sm="100" style="margin:-11px 0px -32px;">
						<md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
						<md-icon md-font-icon="icon-dots-vertical"></md-icon>
					</md-button>
					<md-menu-content width="4">
					<md-menu-item>
					<md-button ng-click="vm.editexpensecategoryrow(item , $event)">
					<p>Edit</p>
					<md-icon md-menu-align-target ></md-icon>
				</md-button>
			</md-menu-item>
			<md-menu-item>
			<md-button ng-click="vm.deleteexpensecategory(item, $index)">
			<p>Delete</p>
			<md-icon md-menu-align-target ></md-icon>
		</md-button>
	</md-menu-item>
	<md-menu-item>
	<md-button ng-click="vm.inaactivateexpenseee(item)">
	<p>{{vm.inactivateexpenseCat}}</p>
	<md-icon md-menu-align-target ></md-icon>
</md-button>
</md-menu-item>
</md-menu-content>
</md-menu>
</div>
</div>
</md-card-content>
</md-card>
</div>
</div>
</div>
<md-list-item>
<md-button class="md-secondary md-primary" style="left:12px; right:0px;" ng-click="vm.addexpensecategory($event)">
    <md-icon md-font-icon="icon-plus-circle-outline"></md-icon>
    Expense Categories
    </md-button>
<p></p>
</md-list-item>

<md-divider></md-divider>

<div class="layout" layout-gt-sm="column" style="padding:0px 0px 10px;">
	<div flex style="padding: 4px 10px 0px;"><p>Custom Fields</p></div>
	<div class="as-sortable" as-sortable="sortableOptions" ng-model="asdc" flex="100">
		<div class="ng-repeat" ng-repeat="item in vm.Settings12thdoor.preference.expensePref.cusFiel" as-sortable-item flex>
			<md-card class="add-mdcard" as-sortable-item-handle flex>
			<md-card-content style="margin: -13px;">
			<div layout="row">
				<div flex>
					<span style="color:#808080;font-size:13px;margin-left:10px;">{{item.labelShown}}
						<md-tooltip md-direction="right">Custom Fields name</md-tooltip>
					</span>
				</div>
				<div flex>
					<span style="color:#808080;font-size:13px;">{{item.type}}
						<md-tooltip md-direction="right">Fields Type</md-tooltip>
					</span>
				</div>
				<div flex>
					<md-menu md-position-mode="target-right target" layout="row" layout-align="end end" flex-sm="100" style="margin:-11px 0px -32px;">
					<md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
					<md-icon md-font-icon="icon-dots-vertical"></md-icon>
				</md-button>
				<md-menu-content width="4">
				<md-menu-item>
				<md-button ng-click="vm.editcusFieldsexpenserow(item , $event)">
				<p>Edit</p>
				<md-icon md-menu-align-target ></md-icon>
			</md-button>
		</md-menu-item>
		<md-menu-item>
		<md-button ng-click="vm.deletcusfieldsexpense(item, $index)">
		<p>Delete</p>
		<md-icon md-menu-align-target ></md-icon>
	</md-button>
</md-menu-item>
</md-menu-content>
</md-menu>
</div>
</div>
</md-card-content>
</md-card>
</div>
</div>
</div>
<md-list-item>
<md-button class="md-secondary md-primary" style="left:12px; right:0px;" ng-click="vm.addcusfieldsExpense($event)">
    <md-icon md-font-icon="icon-plus-circle-outline"></md-icon>
    custom fields
    </md-button>
<p></p>
</md-list-item>
<md-divider></md-divider>

<md-list-item>
<p>Billing of expenses to include tax </p>
<md-switch ng-model="vm.Settings12thdoor.preference.expensePref.billingExpensesIncludeTax" aria-label="Switch 2" class="md-primary">
</md-switch>
</md-list-item>

</md-list>
</md-content>
</form>
<div class="footersection" layout="row" layout-align="end center">
    <md-button class="md-primary" style="border:2px solid;" ng-click="vm.save()">Save</md-button>
</div>
</div>