<div id="setting" class="contentsection">
    <form class="form">
        <md-content class="md-content" style="overflow-x: hidden;">
        <md-divider></md-divider>
            <md-list class="md-list" style="padding:0px 0px 0px 0px;">
                <div layout="row" layout-align="start center" style="background-color:#f6f6f6; height:45px;width:100%;">
                    <div style="margin-left:18px; font-weight: 500;" >
                        Inventory Preference
                    </div>
                </div>
                <md-list-item>
                    <p>GRN Prefix</p>
                    <md-input-container flex="40">
                    <input type="text" name="grnPrefix" ng-model="vm.Settings12thdoor.preference.inventoryPref.grnPrefix" placeholder="GRN Prefix" maxlength="3" required>
                    <div ng-messages="editForm.grnPrefix.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                    </md-input-container>
                </md-list-item>
                <md-list-item>
                <p>GRN Sequence</p>
                <md-input-container flex="40">
                <input type="text" name="grnSequence" ng-model="vm.Settings12thdoor.preference.inventoryPref.grnSequence" placeholder="GRN Sequence" minlength="0" ng-pattern="/^[0-9]+$/" required>
                <div ng-messages="editForm.grnSequence.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength' , 'pattern']">
                        Invalid number
                    </div>
                </div>
                </md-input-container>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item>
                    <p>GIN Prefix</p>
                    <md-input-container flex="40">
                    <input type="text" name="ginPrefix" ng-model="vm.Settings12thdoor.preference.inventoryPref.ginPrefix" placeholder="GIN Prefix" maxlength="3" required>
                    <div ng-messages="editForm.ginPrefix.$error">
                    <div ng-message="required">This is required.</div>
                    </div>
                    </md-input-container>
                </md-list-item> 
                <md-list-item>
                    <p>GIN Sequence</p>
                    <md-input-container flex="40">
                    <input type="text" name="ginSequence" ng-model="vm.Settings12thdoor.preference.inventoryPref.ginSequence" placeholder="GIN Sequence" placeholder="GIN Sequence" minlength="0" ng-pattern="/^[0-9]+$/" required>
                    <div ng-messages="editForm.ginSequence.$error" role="alert">
                        <div ng-message-exp="['required', 'minlength' , 'pattern']">
                            Invalid number
                        </div>
                    </div>
                    </md-input-container>
                </md-list-item>

                <md-list-item>
                    <div layout="column" flex>
                        <p>Default note (bottom of inventory)</p>
                        <div style="margin-top: -14px; margin-left:0px;">
                            <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1" style="color: rgba(0,0,0,0.54);">Copy from invoice</md-checkbox>
                        </div>
                    </div>
                </md-list-item>
                
                <md-list-item>
                    <md-input-container flex>
                    <label></label>
                    <textarea ng-model="vm.Settings12thdoor.preference.inventoryPref.defaultNote" columns="1" md-maxlength="150"></textarea>
                    </md-input-container>
                </md-list-item>
                <md-divider></md-divider>
                <div class="layout" layout-gt-sm="column" style="padding:0px 0px 10px;">
                    <div flex style="padding: 4px 10px 0px;"><p>Receipt Custom Fields</p></div>
                    <div class="as-sortable" as-sortable="sortableOptions" ng-model="asdc" flex="100">
                        <div ng-repeat="item in vm.Settings12thdoor.preference.inventoryPref.reciptCusFiel" as-sortable-item flex>
                            <md-card class="add-mdcard" as-sortable-item-handle flex>
                            <md-card-content style="margin: -13px;">
                            <div layout="row">
                                <div flex>
                                    <span style="color:#808080;font-size:15px;">{{item.labelShown}}
                                        <md-tooltip md-direction="right">Custom Fields name</md-tooltip>
                                    </span>
                                </div>
                                <div flex>
                                    <span style="color:#808080;font-size:15px;">{{item.type}}
                                        <md-tooltip md-direction="right">Fields Type</md-tooltip>
                                    </span>
                                </div>
                                <div flex>
                                    <md-menu md-position-mode="target-right target" layout="row" layout-align="end end" flex-sm="100" style="margin:-11px 0px -32px;">
                                    <md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                                    <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                </md-button>
                                <md-menu-content width="4">
                                <md-menu-item>
                                <md-button ng-click="vm.editreciptcusFieldsinventoryrow(item , $event)">
                                <p>Edit</p>
                                <md-icon md-menu-align-target ></md-icon>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                        <md-button ng-click="vm.deletreciptcusfieldsinventory(item, $index)">
                        <p>Delete</p>
                        <md-icon md-menu-align-target ></md-icon>
                    </md-button>
                </md-menu-item>
                </md-menu-content>
                </md-menu>
                </div>
                </div>
                </md-card-content>
                </md-card>
                </div>
                </div>

                </div>
                <md-list-item>
                    <md-button class="md-secondary md-primary" style="left:12px; right:0px;" ng-click="vm.addreciptcusfieldsInventory($event)">
                        <md-icon md-font-icon="icon-plus-circle-outline"></md-icon>
                        Receipt Custom Field
                    </md-button>
                    <p></p>
                </md-list-item>

<md-divider></md-divider>

                <div layout-gt-sm="column" style="padding:0px 0px 10px;">
                    <div flex style="padding: 4px 10px 0px;"><p>Issues Custom Fields</p></div>
                    <div as-sortable="sortableOptions" ng-model="asdc" flex="100">
                        <div ng-repeat="item in vm.Settings12thdoor.preference.inventoryPref.issueCusFiel" as-sortable-item flex>
                            <md-card class="add-mdcard" as-sortable-item-handle flex>
                            <md-card-content style="margin: -13px;">
                            <div layout="row">
                                <div flex>
                                    <span style="color:#808080;font-size:13px;margin-left:10px;">{{item.labelShown}}
                                        <md-tooltip md-direction="right">Custom Fields name</md-tooltip>
                                    </span>
                                </div>
                                <div flex>
                                    <span style="color:#808080;font-size:13px;">{{item.type}}
                                        <md-tooltip md-direction="right">Fields Type</md-tooltip>
                                    </span>
                                </div>
                                <div flex>
                                    <md-menu md-position-mode="target-right target" layout="row" layout-align="end end" flex-sm="100" style="margin:-11px 0px -32px;">
                                    <md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                                    <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                </md-button>
                                <md-menu-content width="4">
                                <md-menu-item>
                                <md-button ng-click="vm.editissuecusFieldsinventoryrow(item , $event)">
                                <p>Edit</p>
                                <md-icon md-menu-align-target ></md-icon>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                        <md-button ng-click="vm.deletissuecusfieldsinventory(item, $index)">
                        <p>Delete</p>
                        <md-icon md-menu-align-target ></md-icon>
                    </md-button>
                </md-menu-item>
                </md-menu-content>
                </md-menu>
                </div>
                </div>
                </md-card-content>
                </md-card>
                </div>
                </div>
                </div>
                <md-list-item>
                <md-button class="md-secondary md-primary" style="left:12px; right:0px;" ng-click="vm.addissuescusfieldsInventory($event)">
                    <md-icon md-font-icon="icon-plus-circle-outline"></md-icon>
                    Issues Custom Field
                    </md-button>
                </md-list-item>
            </md-list>
        </md-content>
    </form>
     <div class="footersection" layout="row" layout-align="end center">
		<md-button class="md-accent" style="border:2px solid" ng-click="vm.save()">save</md-button>
	</div> 
</div>