#setting {
.form{
.md-content{

.md-list{
.header{
background-color:#f6f6f6; 
height:45px;width:100%;
}

.layout{
padding:0px 0px 10px;
.as-sortable{
.ng-repeat{

.inactivate{
background: #D8D7D7;
}



}

}

}

}


}
}

}