<div id="setting" class="contentsection">
	<form class="form" id="form" name="editForm">
		<md-content class="md-content" style="overflow:hidden;">
			<md-divider></md-divider>
			<md-list class="md-list" style="padding:0px 0px 0px 0px">
				<div layout layout-align="start center" style="background-color:#f6f6f6; height:45px;width:100%;">
					<div style="margin-left:18px; font-weight: 500;" >
						Product Preference
					</div>
				</div>
				<div class="layout" layout-gt-sm="column" style="padding:0px 0px 10px;">
					<div flex style="padding: 4px 10px 0px;"><p>Units Of Measure</p></div>
					<div class="as-sortable" as-sortable="sortableOptions" ng-model="asdc" flex="100">
						<div class="ng-repeat" ng-repeat="item in vm.Settings12thdoor.preference.productPref.units" as-sortable-item flex>
							<md-card class="add-mdcard" ng-class="item.activate ? '' : 'inactivate'" as-sortable-item-handle flex>
								<md-card-content style="margin: -13px;">
									<div layout="row">
										<div flex>
											<span style="color:#808080;font-size:13px;margin-left:10px;">{{item.unitsOfMeasurement}}
												<md-tooltip md-direction="right">Unit Of Measure</md-tooltip>
											</span>
										</div>
										<div flex>
											<md-menu md-position-mode="target-right target" layout="row" layout-align="end end" flex-sm="100" style="margin:-11px 0px -32px;">
												<md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
													<md-icon  md-font-icon="icon-dots-vertical"></md-icon>
												</md-button>
												<md-menu-content width="4">
													<md-menu-item>
														<md-button ng-click="vm.editunitsrow(item , $event)">
															<p>Edit</p>
															<md-icon md-menu-align-target ></md-icon>
														</md-button>
													</md-menu-item>
													<md-menu-item>
														<md-button ng-click="vm.deleteUnits(item, $index)">
															<p>Delete</p>
															<md-icon md-menu-align-target ></md-icon>
														</md-button>
													</md-menu-item>
													<md-menu-item>
														<md-button ng-click="vm.inactivateUnitsOfMeasure(item,$index)">
															<p>{{vm.inactivateUnitsOfMeasurelabel}}</p>
															<md-icon md-menu-align-target ></md-icon>
														</md-button>
													</md-menu-item>
												</md-menu-content>
											</md-menu>
										</div>
									</div>
								</md-card-content>
							</md-card>
						</div>
					</div>
				</div>
				<md-list-item>
					<md-button class="md-secondary md-primary" style="left:12px; right:0px;" ng-click="vm.addUnits($event)">
                        <md-icon md-font-icon="icon-plus-circle-outline"></md-icon>
                        Units Of Measure
                    </md-button>
					<p></p>
				</md-list-item>

				<md-divider></md-divider>

				<div class="layout" layout-gt-sm="column" style="padding:0px 0px 10px;">
					<div flex style="padding: 4px 10px 0px;"><p>Product Brands</p></div>
					<div class="as-sortable" as-sortable="sortableOptions" ng-model="asdc" flex="100">
						<div class="ng-repeat" ng-repeat="item in vm.Settings12thdoor.preference.productPref.productBrands" as-sortable-item flex>
							<md-card class="add-mdcard" ng-class="item.activate ? '' : 'inactivate'" as-sortable-item-handle flex>
								<md-card-content style="margin: -13px;">
									<div layout="row">
										<div flex>
											<span style="color:#808080;font-size:13px;margin-left:10px;">{{item.productBrand}}
												<md-tooltip md-direction="right">Product Brand</md-tooltip>
											</span>
										</div>
										<div flex>
											<md-menu md-position-mode="target-right target" layout="row" layout-align="end end" flex-sm="100" style="margin:-11px 0px -32px;">
												<md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
													<md-icon  md-font-icon="icon-dots-vertical"></md-icon>
												</md-button>
												<md-menu-content width="4">
													<md-menu-item>
														<md-button ng-click="vm.editproductBrandrow(item , $event)">
															<p>Edit</p>
															<md-icon md-menu-align-target ></md-icon>
														</md-button>
													</md-menu-item>
													<md-menu-item>
														<md-button ng-click="vm.deleteproductBrand(item, $index)">
															<p>Delete</p>
															<md-icon md-menu-align-target ></md-icon>
														</md-button>
													</md-menu-item>
													<md-menu-item>
														<md-button ng-click="vm.inactivateproductbrand(item,$index)">
															<p>{{vm.inactivateproductbrandlabel}}</p>
															<md-icon md-menu-align-target ></md-icon>
														</md-button>
													</md-menu-item>
												</md-menu-content>
											</md-menu>
										</div>
									</div>
								</md-card-content>
							</md-card>
						</div>
					</div>

				</div>
				<md-list-item>
					<md-button class="md-secondary md-primary" style="left:12px; right:0px;" ng-click="vm.addProductbrand($event)">
                        <md-icon md-font-icon="icon-plus-circle-outline"></md-icon>
                        Product Brands
                    </md-button>
					<p></p>
				</md-list-item>

				<md-divider></md-divider>

				<div class="layout" layout-gt-sm="column" style="padding:0px 0px 10px;">
					<div flex style="padding: 4px 10px 0px;"><p>Product Categories</p></div>
					<div class="as-sortable" as-sortable="sortableOptions" ng-model="asdc" flex="100">
						<div class="ng-repeat" ng-repeat="item in vm.Settings12thdoor.preference.productPref.productCategories" as-sortable-item flex>
							<md-card class="add-mdcard" ng-class="item.activate ? '' : 'inactivate'" as-sortable-item-handle flex>
								<md-card-content style="margin: -13px;">
									<div layout="row">
										<div flex>
											<span style="color:#808080;font-size:13px;margin-left:10px;">{{item.productCategory}}
												<md-tooltip md-direction="right">Product Category</md-tooltip>
											</span>
										</div>
										<div flex>
											<md-menu md-position-mode="target-right target" layout="row" layout-align="end end" flex-sm="100" style="margin:-11px 0px -32px;">
												<md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
													<md-icon  md-font-icon="icon-dots-vertical"></md-icon>
												</md-button>
												<md-menu-content width="4">
													<md-menu-item>
														<md-button ng-click="vm.editProductcaterow(item , $event)">
															<p>Edit</p>
															<md-icon md-menu-align-target ></md-icon>
														</md-button>
													</md-menu-item>
													<md-menu-item>
														<md-button ng-click="vm.deleteProductcaterow(item, $index)">
															<p>Delete</p>
															<md-icon md-menu-align-target ></md-icon>
														</md-button>
													</md-menu-item>
													<md-menu-item>
														<md-button ng-click="vm.inactivateproductcate(item, $index)">
															<p>{{vm.inactivateproductcatelabel}}</p>
															<md-icon md-menu-align-target ></md-icon>
														</md-button>
													</md-menu-item>
												</md-menu-content>
											</md-menu>
										</div>
									</div>
								</md-card-content>
							</md-card>
						</div>
					</div>
				</div>
				<md-list-item>
					<md-button class="md-secondary md-primary" style="left:12px; right:0px;" ng-click="vm.addProductcategory($event)">
                        <md-icon md-font-icon="icon-plus-circle-outline"></md-icon>
                        Product Categories
                    </md-button>
					<p></p>
				</md-list-item>

				<md-divider></md-divider>

				<div class="layout" layout-gt-sm="column" style="padding:0px 0px 10px;">
					<div flex style="padding: 4px 10px 0px;"><p>Custom Fields</p></div>
					<div class="as-sortable" as-sortable="sortableOptions" ng-model="asdc" flex="100">
						<div class="ng-repeat" ng-repeat="item in vm.Settings12thdoor.preference.productPref.cusFiel" as-sortable-item flex>
							<md-card class="add-mdcard" as-sortable-item-handle flex>
								<md-card-content style="margin: -13px;">
									<div layout="row">
										<div flex>
											<span style="color:#808080;font-size:13px;margin-left:10px;">{{item.labelShown}}
												<md-tooltip md-direction="right">Custom Fields name</md-tooltip>
											</span>
										</div>
										<div flex>
											<span style="color:#808080;font-size:13px;">{{item.type}}
												<md-tooltip md-direction="right">Fields Type</md-tooltip>
											</span>
										</div>
										<div flex>
											<md-menu md-position-mode="target-right target" layout="row" layout-align="end end" flex-sm="100" style="margin:-11px 0px -32px;">
												<md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
													<md-icon  md-font-icon="icon-dots-vertical"></md-icon>
												</md-button>
												<md-menu-content width="4">
													<md-menu-item>
														<md-button ng-click="vm.editcusfieldsProduct(item , $event)">
															<p>Edit</p>
															<md-icon md-menu-align-target ></md-icon>
														</md-button>
													</md-menu-item>
													<md-menu-item>
														<md-button ng-click="vm.deletcusfieldsproduct(item, $index)">
															<p>Delete</p>
															<md-icon md-menu-align-target ></md-icon>
														</md-button>
													</md-menu-item>
												</md-menu-content>
											</md-menu>
										</div>
									</div>
								</md-card-content>
							</md-card>
						</div>
					</div>

				</div>
				<md-list-item>
					<md-button class="md-secondary md-primary" style="left:12px; right:0px;" ng-click="vm.addcusfieldsProduct($event)" ><md-icon md-font-icon="icon-plus-circle-outline"></md-icon>
                        custom fields
                    </md-button>
					<p></p>
				</md-list-item>
			</md-list>
		</md-content>
	</form>
	<div class="footersection" layout="row" layout-align="end center">
		<md-button class="md-primary" style="border:2px solid" ng-click="vm.save()">save</md-button>
	</div>
</div>