<div id="setting" class="contentsection">
    <form class="form" id="form" name="editForm">
	<md-content class="md-content" style="overflow:hidden;">
	<md-divider></md-divider>
	<md-list class="md-list" style="padding:0px 0px 0px 0px">
    <div layout layout-align="start center" style="background-color:#f6f6f6; height:45px;width:100%;">
        <div style="margin-left:18px; font-weight: 500;" >
            Project Preference
        </div>
    </div>
	<md-list-item>
	<p>Default Billing Method</p>
	<md-input-container flex="40">
	<md-select ng-model="vm.Settings12thdoor.preference.project.defaultBillingMethod" placeholder="Default Billing Method">
	<md-option>Hourly Staff Rate</md-option>
	<md-option>Hourly Task Rate</md-option>
	<md-option>Hourly Project Rate</md-option>
	<md-option>Hourly Project Amount</md-option>
</md-select>
</md-input-container>
</md-list-item>

<md-divider></md-divider>

<div class="layout" layout-gt-sm="column" style="padding:0px 0px 10px;">
	<div flex style="padding: 4px 10px 0px;"><p>Tasks</p></div>
	<div class="as-sortable" as-sortable="sortableOptions" ng-model="asdc" flex="100">
		<div class="ng-repeat" ng-repeat="item in vm.Settings12thdoor.preference.project.task" as-sortable-item flex>
			<md-card class="add-mdcard" ng-class="item.activate ? '' : 'inactivate'" as-sortable-item-handle flex>
			<md-card-content style="margin: -13px;">
			<div layout="row">
				<div flex>
					<span style="color:#808080;font-size:13px;margin-left:10px;">{{item.task}}
						<md-tooltip md-direction="right">Task</md-tooltip>
					</span>
				</div>
				<div flex>
					<span style="color:#808080;font-size:13px;">{{item.rate}}
						<md-tooltip md-direction="right">Hourly Rate</md-tooltip>
					</span>
				</div>
				<div flex>
					<md-menu md-position-mode="target-right target" layout="row" layout-align="end end" flex-sm="100" style="margin:-11px 0px -32px;">
					<md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
					<md-icon md-font-icon="icon-dots-vertical"></md-icon>
				</md-button>
				<md-menu-content width="4">
				<md-menu-item>
				<md-button ng-click="vm.edittaskProjectrow(item , $event)">
				<p>Edit</p>
				<md-icon md-menu-align-target ></md-icon>
			</md-button>
		</md-menu-item>
		<md-menu-item>
		<md-button ng-click="vm.deletetaskProject(item, $index)">
		<p>Delete</p>
		<md-icon md-menu-align-target ></md-icon>
	</md-button>
</md-menu-item>
<md-menu-item>
<md-button ng-click="vm.inactivateTaskProject(item, $index)">
<p>{{vm.inactivateTaskProjectrow}}</p>
<md-icon md-menu-align-target ></md-icon>
</md-button>
</md-menu-item>
</md-menu-content>
</md-menu>
</div>
</div>
</md-card-content>
</md-card>
</div>
</div>
</div>
<md-list-item>
    <md-button class="md-secondary md-primary" style="left:12px; right:0px;" ng-click="vm.addtaskProject($event)">
        <md-icon md-font-icon="icon-plus-circle-outline"></md-icon>
        Task
    </md-button>
<p></p>
</md-list-item>

<md-divider></md-divider>

<md-list-item>
<p>Billing Customer Default</p>
<md-input-container flex="40">
<md-select ng-model="vm.Settings12thdoor.preference.project.billingCustomerDefault" placeholder="Billing Customer Default">
<md-option>Individual Items</md-option>
<md-option>Merge all as one line item</md-option>
</md-select>
</md-input-container>
</md-list-item>

</md-list>
</md-content>
</form>
    <div class="footersection" layout="row" layout-align="end center">
	   <md-button class="md-primary" style="border:2px solid;" ng-click="vm.save()">Save</md-button>
    </div>
</div>