<!-- (UI/UX) Meaningfull empty state - start -->

<div class="empty-items" ng-if="vm.items.length === 0">There are no expenses in '{{vm.currentFilter.filter}}'!</div>
<div class="loading-items" layout="column" layout-align="center center" ng-if="!vm.items && vm.loadingItems">
    <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="64"></md-progress-circular>
    <div>Loading Expenses...</div>
</div>

<!-- (UI/UX) Meaningfull empty state - end -->

<!-- empty states ui handler - start -->
<div class="exp-item {{item.status}}" md-ink-ripple ng-if="!vm.loadingItems" ng-repeat="item in vm.expenseSummary | filter: global.search" ng-click="vm.openItem(item)" ng-class="{'unviewd': !item.read, 'current-item': vm.currentThread === item, 'selected': vm.isSelected(item)}">
    <div class="primarycontainer" layout="row" layout-align="start center">

        <md-checkbox class="no-label" ng-checked="vm.isSelected(item)" ng-click="vm.toggleSelectThread(item, $event)" aria-label="{{vm.isSelected(item) ? 'Deselect' : 'Select'}}">
        </md-checkbox>

        <div class="divider-vertical"></div>

        <div class="info" flex layout="column">
            <div class="primaryInfo" layout="row" layout-align="start center">
                <span class="text-truncate">{{item.category}}</span>
                <div class="divider-vertical"></div>
                <span class="text-truncate">{{item.date | toDateObject | date:'d MMM, y'}}</span>
                <div class="divider-vertical"></div>
                <span class="billStatus {{item.billable}}">{{item.billable}}</span>
            </div>

            <div class="secondaryInfo" layout="row" layout-align="start center">
                <span class="text-truncate">Expense Id : {{item.expenseID}}</span>
            </div>

        </div>

        <div class="status" layout="column" layout-align="center end">
            <span class="text-truncate">{{item.totalValue | currency:vm.baseCurrency}}</span>
            <div class="expStatus {{item.status}}" layout="row" layout-align="start center">
                <div class="status-circle"></div>
                <div class="status-label">{{item.status}}</div>
            </div>
        </div>

        <div layout="column" layout-align="space-between end">
            <md-button class="md-icon-button" ng-click="vm.toggleThreadStatus('starred', item, $event)"
            aria-label="Toggle starred">
            <md-icon ng-if="item.favouriteStar" md-font-icon="icon-star"
            class="amber-fg"></md-icon>
            <md-icon ng-if="!item.favouriteStar" md-font-icon="icon-star-outline"></md-icon>
        </md-button>
    </div>
</div>
</div>
