<div class="toolbar" layout="row" layout-align="start center">
	<md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('settingsidenav')" hide-gt-md aria-label="Toggle left sidenav">
		<md-icon md-font-icon="icon-menu" class="icon"></md-icon>
	</md-button>
	<h1>Template Settings</h1>
</div>
<div id="setting" class="contentsection">
	<md-content class="templateContent" flex style="overflow-x: hidden;">
		<div layout layout-align="start center" style="background-color:#f6f6f6; height:45px;width:100%;">
			<div style="margin-left:18px; font-weight: 500;" >
				Invoice Templates
			</div>
		</div>
         <div layout="column" layout-align="center center" ng-if="!vm.Settings12thdoor.templates">
            <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="64"></md-progress-circular>
            <div>Loading Email Templates...</div>
        </div>

		<div class="templateWrap" layout="row" layout-wrap layout-align="center center">
			<div class="templateWrapSub" layout layout-sm="row" layout-margin layout-wrap >
				<md-card  class="template" ng-repeat="template in vm.Settings12thdoor.templates | filter: {type: 'Invoice'}">
					<div class="SearchCard">
						<div id="{{template.templateID}}" ng-class="{'tintImage': template.activated == true}"></div>
						<div >
							<img ng-src="/assets/template/clean_12.png" class="md-card-image" alt="Washed Out">
						</div>
					</div>
					<md-divider></md-divider>
					<div class="md-actions" layout="column">
						<div flex layout="row" layout-align="center center">
							{{template.templateName}}
						</div>
						<div flex layout="row" layout-align="center center" ng-show="!template.activated">
							<md-button class="md-primary" style="font-size:12px;" ng-click="vm.activatetemplate(template,$index)">{{template.status}}</md-button>
						</div>
					</div>
				</md-card>
			</div>
		</div>

		<div layout layout-align="start center" style="background-color:#f6f6f6; height:45px;width:100%;">
			<div style="margin-left:18px; font-weight: 500;" >
				Estimate Templates
			</div>
		</div>

		<div class="templateWrap" layout="row" layout-wrap layout-align="center center">
			<div class="templateWrapSub" layout layout-sm="row" layout-margin layout-wrap >
				<md-card  class="template" ng-repeat="template in vm.Settings12thdoor.templates | filter: {type: 'Estimate'}">
					<div class="SearchCard">
						<div id="{{template.templateID}}" ng-class="{'tintImage': template.activated == true}"></div>
						<div >
							<img ng-src="/assets/template/clean_12.png" class="md-card-image" alt="Washed Out">
						</div>
					</div>
					<md-divider></md-divider>
					<div class="md-actions" layout="column">
						<div flex layout="row" layout-align="center center">
							{{template.templateName}}
						</div>
						<div flex layout="row" layout-align="center center" ng-show="!template.activated">
							<md-button class="md-primary" style="font-size:12px;" ng-click="vm.activatetemplate(template)">{{template.status}}</md-button>
						</div>

					</div>
				</md-card>
			</div>
		</div>
	</md-content>
</div>