<!-- (UI/UX) Meaningfull empty state - start -->

<div class="empty-items" ng-if="vm.inventoryGRN.length === 0">There are no inventory in '{{vm.currentFilter.filter}}'!</div>
<div class="loading-items" layout="column" layout-align="center center" ng-if="!vm.inventoryGRN && vm.loadingItems">
    <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="64"></md-progress-circular>
    <div>Loading inventory...</div>
</div>

<!-- (UI/UX) Meaningfull empty state - end -->

<!-- empty states ui handler - start -->
<div class="item {{item.status}}" md-ink-ripple
     ng-if="!vm.loadingItems"
     ng-repeat="item in vm.inventoryGRN | filter: global.search"
     ng-click="vm.openItem(item)"
     ng-class="{'unviewd': !item.read, 'current-item': vm.currentThread === item, 'selected': vm.isSelected(item)}">
<!-- {{vm.inventoryGRN}} -->
    <div layout="row" layout-align="start center">
        <md-checkbox class="no-label"
                     ng-checked="vm.isSelected(item)"
                     ng-click="vm.toggleSelectThread(item, $event)"
                     aria-label="{{vm.isSelected(item) ? 'Deselect' : 'Select'}}">
        </md-checkbox>

        <div class="divider-vertical"></div>

      <!--   <div class="cygil">
            <div class="avatar" ms-random-class="vm.contactColors" style="margin-left:8px;">
                {{item.from.name[0]}}
            </div>
        </div> -->

        <div class="info" flex layout="column">
            <div class="primaryInfo" layout="row" layout-align="start center">
                <span class="text-truncate">{{item.customerNames}}</span>
                <div class="divider-vertical"></div>
                <span class="text-truncate">{{item.time}}</span>
            </div>

            <div class="secondaryInfo" layout="row" layout-align="start center">
                <span class="text-truncate">GRN NO : {{item.GRNno}}</span>
                <div class="divider-vertical"></div>
                <span class="text-truncate">DATE : {{item.createdDate}}</span>
                <div class="divider-vertical"></div>
                <div ng-if="item.GRNType=='AutoGRN'">
                <span class="text-truncate">{{item.customerNames}}</span>
                </div>
                <div ng-if="item.GRNType=='GRN'">
                <span class="text-truncate">Supplier Name : {{item.customerNames}}</span>
                </div>
            </div>

        </div>
        <div class="status" layout="column" layout-align="center end" ng-if="item.cancelStatus">
           
            <div class="grnStatus Inactive" layout="row" layout-align="start center">
                <div class="status-circle"></div>
                <div class="status-label">Cancelled</div>
            </div>
        </div>

  <!--       <div class="status" layout="column" layout-align="center end" ng-if="item.cancelStatus">
            <span class="text-truncate" style="font-weight:500; color:red;">CANCELLED</span>
        </div> -->


        <div layout="column" layout-align="space-between end">
            <md-button class="md-icon-button" ng-click="vm.toggleThreadStatus('starred', item, $event)"
                       aria-label="Toggle starred">
                <md-icon ng-if="item.inventoryFavourite" md-font-icon="icon-star"
                         class="amber-fg"></md-icon>
                <md-icon ng-if="!item.inventoryFavourite" md-font-icon="icon-star-outline"></md-icon>
            </md-button>
        </div>
    </div>
</div>
