		<md-list style="padding:0px 0px 0px 0px">
			<div layout layout-align="start center" style="background-color:#f6f6f6; height:45px;width:100%;">
				<div style="margin-left:18px; font-weight: 500;" >
					Account Owner Details
				</div>
			</div>
			<md-list-item>
				<div layout-gt-sm="column" flex>
					<p>Account Owner</p>
					<p style="margin-top: -15px; color: rgba(0,0,0,0.54); font-size:13px;">To update your name or email address. please edit your personal profile</p>
				</div>
				<md-input-container md-no-float class="md-block" flex="40">
					<input ng-model="vm.Settings12thdoor.profile.accountOwner" ng-disabled="true" placeholder="Account Owner">
				</md-input-container>
			</md-list-item>

			<md-list-item>
				<div layout-gt-sm="column" flex>
					<p>Your Email</p>
					<p style="margin-top: -15px; color: rgba(0,0,0,0.54); font-size:13px;">To update your name or email address. please edit your personal profile</p>
				</div>
				<md-input-container md-no-float class="md-block" flex="40">
					<input name="adminEmail" ng-model="vm.Settings12thdoor.profile.adminEmail" ng-disabled="true" placeholder="Your Email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" required>
					<div ng-messages="editForm.adminEmail.$error" role="alert">
						<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
							Your email must be between 10 and 100 characters long and look like an e-mail address.
						</div>
					</div>
				</md-input-container>
			</md-list-item>

			<md-list-item class="secondary-button-padding">
				<div layout-gt-sm="column" flex>
					<p>Account Url</p>
				</div>
				<div flex="40">
					<md-input-container md-no-float class="md-block" flex-gt-sm>
						<input type="text" ng-model="vm.Settings12thdoor.profile.accountUrl" ng-disabled="true" placeholder="Account Url" >
					</md-input-container>
				</div>
			</md-list-item>

			<md-divider></md-divider>
			<div layout layout-align="start center" style="background-color:#f6f6f6; height:45px;width:100%;">
				<div style="margin-left:18px; font-weight: 500;" >
					Company Information
				</div>
			</div>

			<md-list-item>
				<p>Company Name</p>
				<md-input-container md-no-float class="md-block" flex="40">
					<input type="text" name="companyName" ng-model="vm.Settings12thdoor.profile.companyName" placeholder="Company Name" required>
					<div ng-messages="editForm.companyName.$error">
						<div ng-message="required">This is required.</div>
					</div>
				</md-input-container>
			</md-list-item>

			<md-list-item>
				<p>Street</p>
				<md-input-container md-no-float class="md-block" flex="40">
					<input type="text" name="street" ng-model="vm.Settings12thdoor.profile.street" placeholder="Street" required>
					<div ng-messages="editForm.street.$error">
						<div ng-message="required">This is required.</div>
					</div>
				</md-input-container>
			</md-list-item>

			<md-list-item>
				<p>City</p>
				<md-input-container md-no-float class="md-block" flex="40">
					<input name="city" ng-model="vm.Settings12thdoor.profile.city" placeholder="City" required>
					<div ng-messages="editForm.city.$error">
						<div ng-message="required">This is required.</div>
					</div>
				</md-input-container>
			</md-list-item>

			<md-list-item>
				<p>State</p>
				<md-input-container md-no-float class="md-block" flex="40">
					<input name="state" ng-model="$root.Settings12thdoor.profile.state" placeholder="State" required>
					<div ng-messages="editForm.state.$error">
						<div ng-message="required">This is required.</div>
					</div>
				</md-input-container>
			</md-list-item>

			<md-list-item>
				<p>Zip</p>
				<md-input-container md-no-float class="md-block" flex="40">
					<input name="zip" ng-model="vm.Settings12thdoor.profile.zip" placeholder="Zip" required>
					<div ng-messages="editForm.zip.$error">
						<div ng-message="required">This is required.</div>
					</div>
				</md-input-container>
			</md-list-item>

			<md-list-item>
				<p>Country</p>
				<md-input-container md-no-float class="md-block" flex="40" >
					<md-select ng-model="vm.Settings12thdoor.profile.country" placeholder="Country" ng-disabled="true">
						<md-option>{{vm.Settings12thdoor.profile.country}}</md-option>
					</md-select>
				</md-input-container>
			</md-list-item>

			<md-list-item>
				<p>Phone Number</p>
				<md-input-container md-no-float class="md-block" flex="40">
					<input type="text" name="phoneNo" ng-model="vm.Settings12thdoor.profile.phoneNo" placeholder="Phone Number" ng-pattern="/\d{3}\d{3}\d{4}/" maxlength="10" required>
					<div ng-messages="editForm.phoneNo.$error">
						<div ng-message-exp="['required', 'maxlength' , 'pattern']">
							Invalid Phone Number
						</div>
					</div>
				</md-input-container>
			</md-list-item>

			<md-list-item>
				<p>Fax</p>
				<md-input-container md-no-float class="md-block" flex="40">
					<input type="text" ng-model="vm.Settings12thdoor.profile.fax" placeholder="Fax">
				</md-input-container>
			</md-list-item>

			<md-list-item>
				<p>Company Email</p>
				<md-input-container md-no-float class="md-block" flex="40">
					<input type="text" name="companyEmail" ng-model="vm.Settings12thdoor.profile.companyEmail" placeholder="Company Email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" required>
					<!-- placeholder="Will display on invoices, estimates etc.." -->
					<div ng-messages="editForm.companyEmail.$error" role="alert">
						<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
							Your email must be between 10 and 100 characters long and look like an e-mail address.
						</div>
					</div>
				</md-input-container>
			</md-list-item>

			<md-list-item>
				<p>Website</p>
				<md-input-container md-no-float class="md-block" flex="40">
					<input type="text" ng-model="vm.Settings12thdoor.profile.website" placeholder="website">
				</md-input-container>
			</md-list-item>


			<md-list-item>
				<p>Financial Date</p>
				<md-datepicker class="md-datepicker-button" ng-model="vm.Settings12thdoor.profile.transactionStart" md-placeholder="Date Range"></md-datepicker>

				<div flex="5" layout="row" layout-align="center center" style="color: #A2A1A1;">To</div>

				<md-datepicker class="md-datepicker-button"  ng-model="vm.Settings12thdoor.profile.transactionEnd" md-placeholder="Date Range"  md-min-date="minDate" md-max-date="maxDate" md-date-filter="onlyWeekendsPredicate"></md-datepicker>
			</md-list-item>
			<md-divider></md-divider>

			<md-list-item class="secondary-button-padding">
				<md-button class="md-secondary md-primary" style="left:12px; right:0px;"  ng-click="uploadImage($event)">Upload Company Logo</md-button>
				<div flex layout="row" layout-align="end center">
					<div><img ng-src="{{vm.Settings12thdoor.profile.companyLogo.imageUrl}}" style="width:100px;height:100px; margin: 13% 10% 10% 52%; padding: 5px; background: #f9f9f9; border: 1px dashed #ddd;""/></div>
					<!--div><md-icon ng-click="deletelogoimage(logo, $index)" style="color:#A5A0A0" md-svg-src="img/ic_close_24px.svg" aria-label="Insert Drive Icon"></md-icon></div-->
				</div>
				<p></p>

			</md-list-item>

			<md-divider></md-divider>

			<div layout layout-align="start center" style="background-color:#f6f6f6; height:45px;width:100%;">
				<div style="margin-left:18px; font-weight: 500;" >
					Custom Fields
				</div>
			</div>
			<div layout-gt-sm="column" style="padding:0px 0px 10px;">
				<div as-sortable="sortableOptions" ng-model="asdc" flex="100">
					<div ng-repeat="item in vm.Settings12thdoor.profile.cusFiel" as-sortable-item flex>
						<md-card class="add-mdcard" as-sortable-item-handle flex>
							<md-card-content style="margin: -13px;" > 
								<div layout="row">
									<div flex>
										<span style="color:#808080;font-size:13px;margin-left:10px;">{{item.labelShown}}
											<md-tooltip md-direction="right">Custom Fields name</md-tooltip>
										</span>
									</div>
									<div flex>
										<span style="color:#808080;font-size:13px;">{{item.type}}
											<md-tooltip md-direction="right">Fields Type</md-tooltip>
										</span>
									</div>
									<div flex>
										<md-menu md-position-mode="target-right target" layout="row" layout-align="end end" flex-sm="100" style="margin:-11px 0px -32px;">
											<md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
												<md-icon md-font-icon="icon-dots-vertical" ></md-icon>
											</md-button>
											<md-menu-content width="4">
												<md-menu-item>
													<md-button ng-click="vm.addcusfieldsProfile(item , $event)">
														<p>Edit</p>
														<md-icon md-menu-align-target ></md-icon>
													</md-button>
												</md-menu-item>
												<md-menu-item>
													<md-button ng-click="vm.deleteprofilerow(item, $index)">
														<p>Delete</p>
														<md-icon md-menu-align-target ></md-icon>
													</md-button>
												</md-menu-item>
											</md-menu-content>
										</md-menu>
									</div>
								</div>
							</md-card-content>
						</md-card>
					</div>
				</div>
			</div>

			<md-list-item class="secondary-button-padding" ng-click="vm.addcusfieldsProfile('add',$event)">
				<md-button class="md-secondary md-primary" style="left:12px; right:0px;" ng-click="vm.addcusfieldsProfile('add',$event)">Add custom fields</md-button>
				<p></p>
			</md-list-item>

			<md-divider></md-divider>

			<div layout layout-align="start center" style="background-color:#f6f6f6; height:45px;width:100%;">
				<div style="margin-left:18px; font-weight: 500;" >
					Regional Settings
				</div>
			</div>

			<md-list-item>
				<p>Base Currency</p>
				<md-input-container md-no-float class="md-block" flex="40">
					<md-select ng-model="vm.Settings12thdoor.profile.baseCurrency" placeholder="Base Currency" ng-disabled="true">
						<md-option>{{vm.Settings12thdoor.profile.baseCurrency}}</md-option>
					</md-select>
<!-- <div ng-messages="editForm.baseCurrency.$error">
	<div ng-message="required">This is required.</div>
</div> -->
</md-input-container>
</md-list-item>

<md-list-item>
	<p>Time Zone</p>
	<md-input-container md-no-float class="md-block" flex="40">
		<md-select ng-model="vm.Settings12thdoor.profile.zoneName" placeholder="Time Zone">
			<md-option ng-repeat="z in vm.Settings12thdoor.profile.zoneList">{{z}}</md-option>
		</md-select>
	</md-input-container>
</md-list-item>

<md-list-item>
	<p>Date Format</p>
	<md-input-container md-no-float class="md-block" flex="40">
		<md-select ng-model="vm.Settings12thdoor.profile.dataFormat" placeholder="Date Format">
			<md-option ng-repeat="d in format" value="">{{state.abbrev}}</md-option>
		</md-select>
	</md-input-container>
</md-list-item>

<md-list-item>
	<p>Currency Format</p>
	<md-input-container md-no-float class="md-block" flex="40">
		<md-select ng-model="vm.Settings12thdoor.profile.currencyFormat" placeholder="Currency Format">
			<md-option ng-repeat="cf in currFor" value="">{{state.abbrev}}</md-option>
		</md-select>
	</md-input-container>
</md-list-item>

<md-list-item>
	<p>Decimal Places</p>
	<md-input-container md-no-float class="md-block" flex="40">
		<md-select ng-model="vm.Settings12thdoor.profile.decimalPlaces" placeholder="Decimal Places">
			<md-option ng-repeat="deci in decimals" value="">{{state.abbrev}}</md-option>
		</md-select>
	</md-input-container>
</md-list-item>

<md-list-item>
	<p>Paper Size</p>
	<md-input-container md-no-float class="md-block" flex="40">
		<md-select name="paperSize" ng-model="vm.Settings12thdoor.profile.paperSize" placeholder="Paper Size">
			<md-option value="A4(8.27 x 11.69)">A4(8.27" x 11.69")</md-option>
			<md-option value="letter(8.5 x 11)">letter(8.5" x 11")</md-option>
			<md-option value="A3(11.69 x 16.54)">A3(11.69" x 16.54")</md-option>
		</md-select>
		<div ng-messages="editForm.paperSize.$error">
			<div ng-message="required">This is required.</div>
		</div>
	</md-input-container>
</md-list-item>

<md-button class="md-accent" style="border:2px solid">save</md-button>


</md-list>
<!-- End Profile Content -->