<md-dialog id="dialogEmail" aria-label="uploader" layout="column" layout-align="center start"  >
    <md-toolbar class="tool-bar" >
        <div class="md-toolbar-tools">
            <h2>SEND INVOICE</h2>
            <span flex></span>
            <md-button href class="md-icon-button" ng-click="vm.cancel()">
            <md-icon  md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
         </md-button>
        </div>
    </md-toolbar>
    <div class="content" ms-scroll>
        <form name="cusForm" ng-submit="vm.submit()"> 
            <div layout layout-sm="column" layout-margin class="inputHeight">
                <md-input-container flex md-no-float> 
                    <input type="text" ng-model="vm.Sender" placeholder="To" />
                </md-input-container>
            </div>
            <div layout layout-sm="column" layout-margin class="inputHeight">
                <md-input-container flex md-no-float> 
                    <input type="text" ng-model="vm.bcc" placeholder="Bcc" />
                </md-input-container>
            </div>
            <div layout layout-sm="column" layout-margin class="inputHeight">
                <md-input-container flex md-no-float> 
                    <input type="text" ng-model="vm.subject" placeholder="Subject" />
                </md-input-container>
            </div>
            <div layout class="pre-tag" layout-sm="column" layout-margin layout-align="center center" >
               
            <div  ng-bind-html="vm.emailBody" style="white-space: pre;"></div> 
               <!--  <pre class="pre-text">
        Dear customer
        
        thank you for your product

        asdsadsakljd;lask kshisahfiuhsaiofh saiofhiosa hfias hiof hsaoif hoias hfoisa
        asfoisahfoisa hfusa fhiosafh iosfh io fhiosa hfoisa hfoi h
        
                </pre> -->
            </div>
            <div layout layout-sm="column" layout-margin class="inputHeight">
                <div  flex="25" class="attact-pdf">        
                    <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb5" class="md-primary">
                        Attach Product PDF
                    </md-checkbox>
                </div>
                <div flex="5" class="pdf-icon">   
                    <md-icon md-font-icon="icon-file-pdf" style="color:rgb(45, 98, 150)"></md-icon>
                </div>   
                <div flex="25" layout layout-align="center center" class="pdf-name">
                    PDT-0001.pdf
                </div>
            </div>
        </form>
    </div>
    <div class="footer" layout="row" layout-align="end end" class="demo-dialog-button">
        <div flex> </div>
        <md-button flex="10" class="md-primary" style="border: 2px solid;" ng-click="vm.sendmail()">
          send
        </md-button> 
    </div>
</md-dialog>