<div class="compose" layout="column">
                <div class="mainsection" layout="column" ms-scroll>
                    <div class="composeform" layout="column">
                        <div class="formWrapper" style="min-width:100%;">
                            <div class="maininfosection" layout="row" layout-align="start start">
                                <div class="customerinfo" flex>

                                    <div layout layout-sm="column" layout-margin>
                                        <md-autocomplete style="width:90%;" ng-required="true" md-search-text="vm.searchText" ng-keydown="enter(vm.searchText)" md-selected-item="vm.selectedItem1" md-items="item in vm.querySearch(vm.searchText)" md-item-text="item.display" md-floating-label="Customer" md-autofocus="true" md-selected-item-change="vm.selectedItemChange(vm.selectedItem1)">
                                            <md-item-template>
                                                <span class="item-title">
                                            <span>{{item.display}}</span>
                                                </span>
                                                <span class="item-metadata">
                                            <span class="item-metastat">
                                                <strong>{{item.value.email}}
                                                </strong>
                                            </span>
                                                <md-divider></md-divider>
                                                </span>
                                            </md-item-template>
                                            <div ng-messages="vm.searchText.$error">
                                                <div ng-message="required">This is required.</div>
                                            </div>
                                        </md-autocomplete>
                                        <div layout="row" layout-align="center center" style="height:30px; width:30px; margin-top:40px; margin-left:-15px;">
                                            <md-menu md-position-mode="target-right target">
                                                <md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                                                    <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                                                </md-button>
                                                <md-menu-content width="4">
                                                    <md-menu-item>
                                                        <md-button href ng-click="vm.addContact()">
                                                            <p>New Contact</p>
                                                            <md-icon href md-menu-align-target></md-icon>
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item ng-show="vm.showEditCustomer">
                                                        <md-button href ng-click="vm.editContact(vm.selectedItem1)">
                                                            <p>Edit Contact</p>
                                                            <md-icon md-menu-align-target></md-icon>
                                                        </md-button>
                                                    </md-menu-item>
                                                </md-menu-content>
                                            </md-menu>
                                        </div>
                                    </div>

                                    <div class="formWrapper" style="min-width:100%; ">
                                        <div class="cutomeraddress" layout="column" layout-align="start center">
                                            <div ng-show="vm.Billingaddress">
                                                <div class="addressheader" layout="row" layout-align="start center">
                                                    <span>Billing Address</span>
                                                    <md-button class="md-icon-button md-primary" aria-label="Switch Address" ng-click="vm.changeAddress()">
                                                        <md-icon md-font-icon="icon-repeat"></md-icon>
                                                    </md-button>
                                                </div>
                                                <div class="addressinfo" layout="column" layout-align="start start">
                                                    <span>{{vm.TDinv.billingAddress.street}},</span>
                                                    <span>{{vm.TDinv.billingAddress.city}}, {{vm.TDinv.billingAddress.zip}}, {{vm.TDinv.billingAddress.state}}</span>
                                                    <span>{{vm.TDinv.billingAddress.country}}</span>
                                                </div>
                                            </div>

                                            <div ng-show="vm.Shippingaddress">
                                                <div class="addressheader" layout="row" layout-align="start center">
                                                    <span>Shipping Address</span>
                                                    <md-button class="md-icon-button md-primary" aria-label="Switch Address" ng-click="vm.changeAddress()">
                                                        <md-icon md-font-icon="icon-repeat"></md-icon>
                                                    </md-button>
                                                </div>
                                                <div class="addressinfo" layout="column" layout-align="start start">

                                                    <span>{{vm.TDinv.shippingAddress.s_street}}</span>
                                                    <span>{{vm.TDinv.shippingAddress.s_city}}{{vm.TDinv.shippingAddress.s_zip}}{{vm.TDinv.shippingAddress.s_state}}</span>
                                                    <span>{{vm.TDinv.shippingAddress.s_country}}</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="invoiceinfo" flex>
                                    <div class="documentid" layout="row" layout-align="end center"><span>Invoice No : {{vm.invoiceRefNo}}</span></div>

                                    <div layout="column" layout-gt-sm="row" style="height:64px; padding-top: 30px;">
                                        <md-datepicker ng-model="vm.TDinv.startDate" md-placeholder="Date" flex></md-datepicker>
                                        <md-input-container style="margin-top: 2px;" flex>
                                            <label>Payment terms</label>
                                            <md-select ng-model="vm.TDinv.peymentTerm" ng-required="true" md-no-asterisk="" name="terms">
                                                <md-optgroup label="Terms type">
                                                    <md-option value="Due on Receipt">Due on Receipt</md-option>
                                                    <md-option value="Net 7 days">Net 7 days</md-option>
                                                    <md-option value="Net 14 days">Net 14 days</md-option>
                                                    <md-option value="Net 21 days">Net 21 days</md-option>
                                                    <md-option value="Net 30 days">Net 30 days</md-option>
                                                    <md-option value="Net 45 days">Net 45 days</md-option>
                                                    <md-option value="Net 60 days">Net 60 days</md-option>
                                                    <md-option value="Custom">Custom</md-option>
                                                    <md-option value="multipleDueDates" ng-click="vm.MultiDuDates()">Multiple Due Dates</md-option>
                                                </md-optgroup>
                                            </md-select>
                                        </md-input-container>

                                    </div>

                                    <div layout="column" layout-gt-xs="row" style="padding-top:30px;">
                                        <md-datepicker ng-model="vm.TDinv.dueDate" md-placeholder="Due Date" flex></md-datepicker>

                                        <md-input-container style="margin-top: 2px;" flex>
                                            <label>PO no</label>
                                            <input name="PO no" ng-model="vm.TDinv.poNumber">
                                        </md-input-container>
                                    </div>
                                    <div layout="column" layout-gt-lg="row" style="margin-top: -30px;">
                                        <md-input-container class="md-block">
                                            <label>Comments</label>
                                            <textarea ng-model="vm.TDinv.comments" md-maxlength="150" max-rows="3"></textarea>
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="formWrapper" style="min-width:100%; padding-top: 30px;">
                            <div class="lineitems" layout="column">
                                <!-- LIST ITEM HEADER -->
                                <div class="list-items-header" layout="row" layout-align="start center">
                                    <div class="list-item-header-control handle"></div>
                                    <div class="list-item-header-title left" flex>Product / Service </div>
                                    <div class="list-item-header-title center" flex>Quantity</div>
                                    <div class="list-item-header-title center" flex>UOM</div>
                                    <div class="list-item-header-title center" flex>Unit Price</div>
                                    <div class="list-item-header-title center" flex>Discount</div>
                                    <div class="list-item-header-title center" flex>TAX</div>
                                    <div class="list-item-header-title center" flex>Amount</div>
                                    <div class="list-item-header-control handle"></div>
                                    <div class="list-item-header-control handle"></div>
                                </div>

                                <div class="line-items-container" ng-sortable="vm.sortableOptions" ng-model="vm.lineItems" ng-class="{'sortable': vm.itemOrder === ''}">
                                    <!-- LIST ITEM -->
                                    <div class="line-item" md-ink-ripple layout="row" layout-align="start center" ng-click="vm.listItemAction()" ng-repeat="prod in vm.lineItems">
                                        <div layout="row" layout-align="start center" flex>
                                            <div class="handle" ng-click="vm.preventDefault($event)">
                                                <md-icon md-font-icon="icon-drag-vertical" class="icon"></md-icon>
                                            </div>

                                            <div class="info" layout="row" layout-align="start center">
                                                <div class="item-value left" flex>
                                                    {{prod.productName}}
                                                </div>

                                                <div class="item-value center" flex>
                                                    {{prod.quantity}}
                                                </div>

                                                <div class="item-value center" flex>
                                                    {{prod.productUnit}}
                                                </div>

                                                <div class="item-value center" flex>
                                                    {{prod.price|number:2}}
                                                </div>

                                                <div class="item-value center" flex>
                                                    {{prod.discount}}
                                                </div>

                                                <div class="item-value center" flex>
                                                    {{prod.tax.taxName}} ({{prod.tax.rate}}%)
                                                </div>

                                                <div class="item-value center" flex>
                                                    {{prod.amount|number:2}}
                                                </div>
                                            </div>

                                            <div class="buttons" layout="row" layout-align="start center">
                                                <md-button class="md-icon-button" ng-click="vm.editProduct(prod,$index)" aria-label="Edit line item">
                                                    <md-icon md-font-icon="icon-table-edit"></md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button" ng-click="vm.deleteProduct(prod, $index)" aria-label="Delete line item">
                                                    <md-icon md-font-icon="icon-close-circle"></md-icon>
                                                </md-button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- LIST ITEM -->
                                </div>
                                <!-- LIST ITEM HOLDER -->
                            </div>
                        </div>
                        <div class="formWrapper" style="min-width:100%; padding-top: 30px;">
                            <md-button class="md-primary" ng-click="vm.addProduct()">
                                <md-icon md-font-icon="icon-plus-circle-outline"></md-icon>New Line</md-button>
                        </div>

                        <div class="formWrapper" style="min-width:100%; padding-top: 30px;">
                            <div layout="column" layout-align="start start">
                                <label><b>Totals</b></label>
                            </div>
                            <div layout="column" layout-align="end end">
                                <table>
                                    <tr>
                                        <td style="padding-right: 30px;">Sub Total</td>
                                        <td style="padding-right: 30px;">
                                            <label style="display:none; text-align: right">{{vm.calculatetotal()}}</label>
                                        </td>
                                        <td>{{vm.total|number:2}}</td>
                                    </tr>
                                    <tr ng-repeat="tax in vm.taxArray">
                                        <td style="padding-right: 30px; padding-top: 30px;">{{tt.taxName}}</td>
                                        <td style="padding-right: 30px; padding-top: 30px;"></td>
                                        <td style="padding-top: 30px;">{{tt.salesTax|number:2}}</td>
                                    </tr>
                                    <tr>
                                        <td style="padding-right: 30px;">Shipping</td>
                                        <td style="padding-right: 30px;">
                                            <md-input-container class="md-block"><input name="shipping" ng-model="vm.TDinv.shipping" ng-change="vm.addShipping(vm.TDinv.shipping)"></md-input-container>
                                        </td>
                                        <td>{{vm.TDinv.shipping|number:2}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="formWrapper" style="min-width:100%; ">
                            <div class="summary" layout="row" layout-align="end start">
                                <div class="totalVal" layout="column" layout-align="center center">
                                    <i>Total</i>
                                    <span>USD {{vm.famount|number:2}}</span>
                                </div>
                            </div>

                        </div>
                        <div class="formWrapper" style="min-width:100%; ">
                            <div layout layout-lg="column" layout-margin>
                                <md-input-container style="width: 100%; ">
                                    <label>Notes</label>
                                    <textarea ng-model="vm.TDinv.comments" md-maxlength="150" max-rows="3"></textarea>
                                </md-input-container>
                            </div>
                        </div>

                        <div class="formWrapper" style="min-width:100%;">
                            <div layout="row" layout-align="start center" style="background-color:#f6f6f6; height:45px;width:100%;">
                                <div style="margin-left:18px; font-weight: 900;">
                                    Optional Details
                                </div>
                            </div>
                            <div class="maininfosection" layout="row" layout-align="start start" style="margin-top: 30px;">
                                <div class="expenseinfo" flex>
                                    <div layout="column" layout-gt-xs="row">
                                        <md-input-container flex="40">
                                            <label>Payment Method</label>
                                            <md-select placeholder="Payment Method" ng-model="vm.TDinv.paymentMethod" flex ng-change="getPayement(vm.TDinv.paymentMethod)">
                                                <md-optgroup>
                                                    <md-option ng-repeat="pay in vm.paymentMethod" value="{{pay.paymentmethod}}">{{pay.paymentmethod}}</md-option>
                                                </md-optgroup>
                                            </md-select>

                                        </md-input-container>
                                        <md-button class="md-primary" ng-click="vm.uploadFile()" style="border:2px solid">File Upload</md-button>
                                        <md-button class="md-primary" style="border:2px solid">Change Currency</md-button>
                                    </div>

                                    <div layout layout-lg="column" layout-margin style="width: 100%; ">
                                        <md-content class="md-padding" layout="column" style="margin-left:-15px; color: blue;">
                                            <md-chips ng-model="vm.TDinv.tags" readonly="false" placeholder="Enter a tag" delete-button-label="Remove Tag" delete-hint="Press delete to remove tag" secondary-placeholder="+Tags">
                                            </md-chips>
                                        </md-content>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="formWrapper" style="min-width:100%;">
                            <div layout layout-align="start center" style="background-color:#f6f6f6; height:45px;width:100%;">
                                <div style="margin-left:34px;">
                                    <h3><b>Additional Details</b></h3>
                                </div>
                            </div>
                            <div class="maininfosection" layout="row" layout-align="start start">
                                <div class="expenseinfo" flex>
                                    <div layout="column" layout-gt-xs="row">
                                        <md-input-container style="margin-top: 20px;" flex>
                                            <label>Contact No</label>
                                            <input name="PO no" ng-model="vm.TDinv.contactNo">
                                        </md-input-container>
                                        <md-input-container style="margin-top: 20px;" flex>
                                            <label>Email address</label>
                                            <input name="PO no" ng-model="vm.TDinv.email">
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="formWrapper" style="min-width:100%;">
                <div class="footersection" layout="row" layout-align="end center">
                    <md-button class="md-primary" ng-click="vm.cancel()" style="border:2px solid">cancel</md-button>
                    <md-button class="md-accent" ng-click="vm.submit()" style="border:2px solid">save</md-button>
                </div>
            </div>