<div class="toolbar" layout="row" layout-align="start center">
	<md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('settingsidenav')" hide-gt-md aria-label="Toggle left sidenav">
		<md-icon md-font-icon="icon-menu" class="icon"></md-icon>
	</md-button>
	<h1>Accounts Settings</h1>
</div>
<div class="contentsection">
	<md-content style="overflow-x: hidden;">
		<div layout layout-align="start center" style="background-color:#f6f6f6; height:45px;width:100%;">
			<div style="margin-left:18px; font-weight: 500;" >
				Import Data
			</div>
		</div>
		<div layout layout-sm="column" layout-margin>
			<md-input-container flex="30">
				<label>Select Application</label>
				<md-select ng-model="ctrl.userState">
					<md-option ng-repeat="" value="">{{state.abbrev}}</md-option>
				</md-select>
			</md-input-container>
		</div>
		<div layout layout-sm="column" layout-margin style="margin-top: -24px;">
			<div flex="22" layout="row" layout-align="start center">
				<md-button class="md-primary" style="font-size:12px;" >
					Download the Sample CSV file.
				</md-button>
				<span style="color: #A2A1A1; font-size: 13px;">Ensure your data is in the same format to begin import process.</span>
			</div>
		</div>
		<div layout layout-sm="column" layout-margin>
			<div flex>
				<md-button class="md-primary" ng-click="user($event)" >
					Upload File
				</md-button>
			</div>
		</div>
		<div layout layout-sm="column" layout-margin>
			<div flex>
				<md-button  class="md-primary" ng-click="import($event)">
					Import Data
				</md-button>
			</div>
		</div>
		<div layout layout-align="start center" style="background-color:#f6f6f6; height:45px;width:100%;">
			<div style="margin-left:18px; font-weight: 500;" >
				Export Data
			</div>
		</div>
		<div layout layout-sm="column" layout-margin>
			<md-input-container flex="30">
				<label>Select Application</label>
				<md-select ng-model="ctrl.userState">
					<md-option ng-repeat="" value="">{{state.abbrev}}</md-option>
				</md-select>
			</md-input-container>
		</div>
		<div layout layout-sm="column" layout-margin >
			<md-datepicker class="md-datepicker-button" ng-model="user.submissionDate" md-placeholder="Date Range"></md-datepicker>

			<div flex="5" layout="row" layout-align="center center" style="color: #A2A1A1;">To</div>

			<md-datepicker class="md-datepicker-button" ng-model="user.submissionDate" md-placeholder="Date Range"></md-datepicker>
		</div>
		<div layout layout-sm="column" layout-margin>
			<div flex>
				<md-button  class="md-primary" ng-click="import($event)">
					Export Data
				</md-button>
			</div>
		</div>
		<div layout layout-align="start center" style="background-color:#f6f6f6; height:45px;width:100%;">
			<div style="margin-left:18px; font-weight: 500;" >
				Cancel Account
			</div>
		</div>
		<div layout layout-sm="column" layout-margin>
			<div flex style="margin-top:14px;"><label style="color:red;">Warning</label></div>
		</div>
		<div layout layout-sm="column" layout-margin style="margin-top: -6px;">
			<div flex="5" hide-sm>	
			</div>
			<div flex="20" hide-sm>
			</div>
			<div flex>
				<span style="font-size: 15px;">All your data will be permanently deleted. This action cannot be undone.</span>
			</div>
		</div>
		<div layout layout-sm="column" layout-margin style="margin-bottom:41px;">
			<div flex>
				<md-button  class="md-primary" ng-click="import($event)">
					Cancel Account
				</md-button>
			</div>
		</div>


	</md-content>
</div>