<div id="contacts" class="page-layout carded boxed right-sidenav" layout="row">

    <!-- CENTER -->
    <div class="center" layout="column" layout-align="center center" flex >

        <div class="content-card" layout="column">
            <!-- PRIMARY TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="space-between center" ng-show="vm.primaryToolbarContext">
                <div layout="row" layout-align="start center">
                    <md-button class="md-primary" ng-click="vm.toggleChildStates('app.contacts.customer')">
                        Customers
                    </md-button>
                    <div class="divider-vertical"></div>
                    <md-button class="md-primary md-hue-3" ng-click="vm.toggleChildStates('app.contacts.supplier')">
                        Suppliers
                    </md-button>
                </div>
                <div layout="row" layout-align="start center">
                    <md-button class="md-primary" style="border:2px solid;" 
                    ng-click="vm.toggleChildStates('app.contacts.CusCompose')">
                        <md-icon md-font-icon="icon-plus-circle-outline"></md-icon>
                        Add New
                    </md-button>
                </div>
            </div>
            <!-- / PRIMARY TOOLBAR -->

            <!-- SECONDARY TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="space-between center">
                <div layout="row" layout-align="start center">

                    <!-- THREAD LIST SPECIFIC ACTIONS -->
                   <!--  <md-checkbox class="no-label" aria-label="{{vm.selectedThreads.length > 0 ? 'Deselect All' : 'Select All'}}"
                                 ng-checked="vm.selectedThreads.length > 0" ng-click="vm.toggleSelectThreads()"
                                 ng-if="!vm.currentThread"></md-checkbox> -->
                    <!-- / THREAD LIST SPECIFIC ACTIONS -->

                    <!-- SINGLE THREAD SPECIFIC ACTIONS -->
                    <md-button class="md-icon-button close-thread" aria-label="Back"
                               ng-click="vm.closeThread()" ng-if="vm.currentThread">
                        <md-icon md-font-icon="icon-keyboard-backspace"></md-icon>
                    </md-button>
                    <!-- / SINGLE THREAD SPECIFIC ACTIONS -->

                    <!-- ACTION BUTTONS -->

                    <div class="filter-buttons" layout="row" layout-align="start center" ng-hide="vm.selectedThreads.length > 0 || vm.currentThread" hide show-gt-xs>

                       <!--  <div class="divider-vertical"></div> -->

                          <md-menu md-position-mode='target-right target' aria-label="Sort">
                               <md-button class="md-icon-button" aria-label="Sort" ng-click='$mdOpenMenu()' type='button'>
                                  <md-icon md-font-icon="icon-sort-variant"></md-icon>
                                  <md-tooltip><span>Sort</span></md-tooltip>
                               </md-button>
                               <md-menu-content width='4'>
                                  <div ng-repeat='item in vm.testarr track by $index'>
                                     <md-menu-item>
                                        <md-button ng-click='vm.starfunc(item,$index)'>
                                           <div layout='row'>
                                              <p flex>{{item.name}}</p>
                                              <div>
                                                 <md-icon md-font-icon="icon-chevron-up" style='margin-top:4px; position: absolute; left: 150px;' ng-show='item.upstatus'></md-icon>
                                              </div>
                                              <div>
                                                 <md-icon md-font-icon="icon-chevron-down" style='margin-top:9px;position: absolute; left: 150px;' ng-show='item.downstatus'></md-icon>
                                              </div>
                                           </div>
                                        </md-button>
                                        <div ng-click="vm.defaultCancel(item)" style="width: 18px;z-index: 10;margin-left: -45px; margin-top: 15px;position: relative;" ng-show='item.close'>
                                           <md-icon md-font-icon="icon-close-circle" style='width: 18px;
                                              margin-top:-4px;'></md-icon>
                                        </div>
                                     </md-menu-item>
                                     <md-divider ng-show='item.divider'></md-divider>
                                  </div>
                               </md-menu-content>
                            </md-menu>
        
                        
                        <div class="divider-vertical"></div>

                         <md-button class="md-icon-button" aria-label="All" ng-click="vm.sortAll()">
                            <md-icon md-font-icon="icon-multiplication"></md-icon>
                            <md-tooltip><span>All</span></md-tooltip>
                        </md-button>
                        <!--

                        <md-button class="md-icon-button" aria-label="Viewed">
                            <md-icon md-font-icon="icon-eye"></md-icon>
                            <md-tooltip><span>Viewed</span></md-tooltip>
                        </md-button>-->

                        <md-button class="md-icon-button" aria-label="Paid" ng-click="vm.filterActive()">
                            <md-icon md-font-icon="icon-cash-100"></md-icon>
                            <md-tooltip><span>Active</span></md-tooltip>
                        </md-button> 

                        <md-button class="md-icon-button" aria-label="Favourite" ng-click="vm.filterFavourite()">
                            <md-icon md-font-icon="icon-star"></md-icon>
                            <md-tooltip><span>Favourite</span></md-tooltip>
                        </md-button>

                    </div>

                    <div class="action-buttons" layout="row" layout-align="start center" ng-show="vm.selectedThreads.length > 0 || vm.currentThread" hide show-gt-xs>

                        <div class="divider-vertical"></div>

                        <!-- <md-button class="md-icon-button" aria-label="Archive">
                            <md-icon md-font-icon="icon-archive"></md-icon>
                            <md-tooltip><span>Archive</span></md-tooltip>
                        </md-button> -->
                        <div ng-init="loadLegerData()"></div>
                        
                       <!--  <md-button class="md-icon-button" ng-click="vm.deleteInventory(vm.ViewInventory)" aria-label="Delete" >
                            <md-icon md-font-icon="icon-delete"></md-icon>
                            <md-tooltip><span>Delete</span></md-tooltip>
                        </md-button> -->

                       <!--  <div class="divider-vertical"></div>

                        <md-button class="md-icon-button" aria-label="Move to">
                            <md-icon md-font-icon="icon-folder"></md-icon>
                            <md-tooltip><span>Transfer to Folder</span></md-tooltip>
                        </md-button> -->

                     <!--    <md-menu>
                            <md-button class="md-icon-button" aria-label="Labels"
                                       ng-click="$mdOpenMenu($event)">
                                <md-icon md-font-icon="icon-label"></md-icon>
                                <md-tooltip><span>Add Tag</span></md-tooltip>
                            </md-button>
                            <md-menu-content class="thread-labels-toggle-list" width="3">
                                <md-list>
                                    <md-subheader class="md-no-sticky">
                                        <span>Tag</span>
                                    </md-subheader>
                                    <md-list-item ng-repeat="label in vm.labels" ng-click="vm.toggleLabel(label)">
                                        <div layout="row" layout-align="start center">
                                            <div class="w-10 h-10 mr-16" ng-class="label.color"></div>
                                            <div>{{label.title}}</div>
                                        </div>
                                        <md-icon md-font-icon="icon-checkbox-blank-outline" class="md-secondary"
                                                 ng-if="vm.currentThread && !vm.isLabelExist(label)"></md-icon>
                                        <md-icon md-font-icon="icon-checkbox-marked" class="md-accent md-secondary"
                                                 ng-if="vm.currentThread && vm.isLabelExist(label)"></md-icon>
                                    </md-list-item>
                                </md-list>
                            </md-menu-content>
                        </md-menu> -->
                    </div>
                    <!-- / ACTION BUTTONS -->

                    <!-- ACTIONS MENU -->
                    <md-menu class="actions-menu"
                             ng-show="vm.selectedThreads.length > 0 || vm.currentThread"
                             hide-gt-xs>
                        <md-button class="md-icon-button"
                                   ng-click="$mdOpenMenu($event)"
                                   aria-label="Mail Actions"
                                   translate translate-attr-aria-label="MAIL.ACTIONS">
                            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item>
                                <md-button aria-label="Archive">
                                    <md-icon md-font-icon="icon-archive"></md-icon>
                                    <span>Archive</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button aria-label="Spam">
                                    <md-icon md-font-icon="icon-alert-octagon"></md-icon>
                                    <span>Spam</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button aria-label="Delete">
                                    <md-icon md-font-icon="icon-delete"></md-icon>
                                    <span>Delete</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button aria-label="Move To">
                                    <md-icon md-font-icon="icon-folder-move"></md-icon>
                                    <span>Move To</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button aria-label="Labels">
                                    <md-icon md-font-icon="icon-label"></md-icon>
                                    <span>Labels</span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <!-- / ACTIONS MENU -->
                </div>

            <!--     <div layout="row" layout-align="start center" ng-show="vm.primaryToolbarContext">
                    <span class="page-info" hide-sm>1 - 100 of 980</span>

                    <md-button class="md-icon-button arrow" aria-label="Previous">
                        <md-icon md-font-icon="icon-chevron-left"></md-icon>
                        <md-tooltip><span>Previous</span></md-tooltip>
                    </md-button>

                    <md-button class="md-icon-button arrow" aria-label="Next">
                        <md-icon md-font-icon="icon-chevron-right"></md-icon>
                        <md-tooltip><span>Next</span></md-tooltip>
                    </md-button>
                </div> -->
                <ms-paging ng-show="vm.primaryToolbarContext" page-obj='vm.pageObj' result="vm.customerSummaryData" page-gap="vm.pageGap"></ms-paging>

                <div layout="row" layout-align="start center" ng-hide="vm.primaryToolbarContext">
                    <md-button class="md-icon-button" aria-label="Print">
                        <md-icon md-font-icon="icon-printer"></md-icon>
                        <md-tooltip><span>Print</span></md-tooltip>
                    </md-button>

                    <md-button class="md-icon-button" aria-label="Download">
                        <md-icon md-font-icon="icon-download"></md-icon>
                        <md-tooltip><span>Download</span></md-tooltip>
                    </md-button>

                    <md-button class="md-icon-button" aria-label="Email">
                        <md-icon md-font-icon="icon-share"></md-icon>
                        <md-tooltip><span>Email</span></md-tooltip>
                    </md-button>

                    <md-menu class="actions-menu">
                        <md-button class="md-icon-button"
                                   ng-click="$mdOpenMenu($event)"
                                   aria-label="Invoice Actions">
                            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                            <md-tooltip><span>Actions</span></md-tooltip>
                        </md-button>
                       <!--  <md-menu-content width="3">
                            <md-menu-item>
                                <md-button aria-label="Archive">
                                    <md-icon md-font-icon="icon-archive"></md-icon>
                                    <span>Archive</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button aria-label="Spam">
                                    <md-icon md-font-icon="icon-alert-octagon"></md-icon>
                                    <span>Spam</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button aria-label="Delete">
                                    <md-icon md-font-icon="icon-delete"></md-icon>
                                    <span>Delete</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button aria-label="Move To">
                                    <md-icon md-font-icon="icon-folder-move"></md-icon>
                                    <span>Move To</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button aria-label="Labels">
                                    <md-icon md-font-icon="icon-label"></md-icon>
                                    <span>Labels</span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content> -->
                    </md-menu>
                </div>
            </div>
            <!-- / SECONDARY TOOLBAR -->

            <!-- CONTENT WRAPPER -->
            <div class="content-wrapper" layout="column" flex>

                <!-- ITEM DETAIL -->
                <div class="content thread-detail"
                     ng-if="vm.currentThread"
                     ng-include="'app/main/contacts/views/customer/detail/customer-detail.html'" ms-scroll flex>
                </div>
                <!-- / ITEM DETAIL -->

                <!-- ITEM LIST -->
                <div class="content item-list"
                     ng-if="!vm.currentThread"
                     ng-include="'app/main/contacts/views/customer/list/customer-list.html'" ms-scroll flex>
                </div>
                <!-- / ITEM LIST -->

            </div>
            <!-- / CONTENT WRAPPER-->
        </div>

    </div>
    <!-- / CENTER -->

</div>