    <form name="contactCompose" novalidate>
    <div >
    <div class="optional" layout="row" layout-align="start start">
          <div class="details">Contact Name</div>
      </div> 

    <div layout="column" class="contact-Details">  
      <div  layout="row">
        <div class="detailColOne" flex> 
          <div layout="column" layout-gt-xs="row" class="inputHeight">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Company or Individual name</label>
                <input ng-model="vm.contact.profileName">
              </md-input-container>
          </div>  
        
        </div>
        <div style="width: 5%"></div>
        <div class="detailColTwo" flex>
          <div layout="column" layout-gt-xs="row" class="inputHeight">
                 
            <md-input-container class="md-block" flex-gt-sm>
            <label>Email</label>
            <input ng-model="vm.contact.email" name="email" ng-pattern="/^.+@.+\..+$/" required>
            <div ng-messages="contactCompose.email.$error" role="alert">
                   <div ng-message-exp="['required','pattern']">
                   Your email must look like an e-mail address.
                   </div>
                  </div>
          </md-input-container>
          </div>  
         </div>  
        </div>
    </div> 
 
   <div class="optional" layout="row" layout-align="start start">
          <div class="details">Contact Person</div>
      </div> 
    <div layout="column" class="contact-Details">  
      <div  layout="row">
        <div class="detailColOne" flex> 
          <div layout="column" layout-gt-xs="row" class="inputHeight">
             <md-input-container class="md-block" flex-gt-sm>
            <label>First Name</label>
            <input ng-model="vm.contact.firstName">
          </md-input-container>

          </div>  
        
        </div>
        <div style="width: 5%"></div>
        <div class="detailColTwo" flex>
          <div layout="column" layout-gt-xs="row" class="inputHeight">
                 
            <md-input-container class="md-block" flex-gt-sm>
            <label>Last Name</label>
            <input ng-model="vm.contact.lastName">
          </md-input-container>
          </div>  
         </div>  
        </div>
    </div>

 

  <div ng-show="vm.showBilling">
 
   <div class="optional" layout="row" layout-align="start start">
          <div class="details">Billing Address</div>
           <md-icon style="margin-left: 30px;" md-font-icon="icon-repeat" ng-click="vm.addressChange()"></md-icon>
      </div> 
    <div layout="column" class="contact-Details">      

      <div layout-gt-sm="row" style="height:64px;">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Street</label>
              <input ng-model="vm.contact.billingAddress.street">
            </md-input-container>
      </div>        
      <div  layout="row">
        <div class="detailColOne" flex>
          <div layout="column" layout-gt-xs="row" class="inputHeight">
                 <md-input-container class="md-block" flex-gt-sm>
                  <label>City</label>
                  <input ng-model="vm.contact.billingAddress.city">
                </md-input-container>
          </div> 
          <div layout="column" layout-gt-xs="row" class="inputHeight">
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Zip Code</label>
                      <input ng-model="vm.contact.billingAddress.zip">
                    </md-input-container>
          </div> 
          <div layout="column" layout-gt-xs="row" class="inputHeight">
                    <md-switch ng-model="cb" ng-change="vm.onChange(cb)" aria-label="Switch 1">
                      Use billing address as shipping address
                   </md-switch>
          </div> 
        
        </div>
        <div style="width: 5%"></div>
        <div class="detailColTwo" flex>
          <div layout="column" layout-gt-xs="row" class="inputHeight">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>State</label>
                  <input ng-model="vm.contact.billingAddress.state">
                </md-input-container>
          </div> 
          <div layout="column" layout-gt-xs="row" class="inputHeight">
                <md-autocomplete 
                    flex="" 
                    md-selected-item="vm.selectedItem" 
                    md-search-text="vm.searchText"
                    md-items="item in vm.querySearch(vm.searchText)" 
                    md-item-text="item.country" 
                    md-floating-label="Country"
                    md-selected-item-change="vm.selectedItemChange(vm.selectedItem)">
                  <md-item-template>
                    <span>{{item.country}}</span>
                  </md-item-template>
                </md-autocomplete>
          </div>  
         </div>  
        </div>
      </div>
    </div>
    <div ng-show="vm.showShipping">
 
   <div class="optional" layout="row" layout-align="start start">
          <div class="details">Shipping Address</div>
           <md-icon style="margin-left: 30px;" md-font-icon="icon-repeat" ng-click="vm.addressChange()"></md-icon>
      </div> 
    <div layout="column" class="contact-Details">      

      <div layout-gt-sm="row" style="height:64px;">
             <md-input-container class="md-block" flex-gt-sm>
            <label>Street</label>
            <input ng-model="vm.contact.shippingAddress.s_street">
          </md-input-container>

      </div>        
      <div  layout="row">
        <div class="detailColOne" flex>
          <div layout="column" layout-gt-xs="row" class="inputHeight">
                 <md-input-container class="md-block" flex-gt-sm>
            <label>City</label>
            <input ng-model="vm.contact.shippingAddress.s_city">
          </md-input-container>
          </div> 
          <div layout="column" layout-gt-xs="row" class="inputHeight">
                    <md-input-container class="md-block" flex-gt-sm>
            <label>Zip Code</label>
            <input ng-model="vm.contact.shippingAddress.s_zip">
          </md-input-container>
          </div>  
        
        </div>

        <div style="width: 5%"></div>
        <div class="detailColTwo" flex>
          <div layout="column" layout-gt-xs="row" class="inputHeight">
                 <md-input-container class="md-block" flex-gt-sm>
            <label>State</label>
            <input ng-model="vm.contact.shippingAddress.s_state">
          </md-input-container>
          </div> 
          <div layout="column" layout-gt-xs="row" class="inputHeight">
                  <md-autocomplete 
                  flex="" 
                  md-selected-item="vm.selectedItemShipping" 
                  md-search-text="vm.searchText1"
                  md-items="item in vm.querySearchShipping(vm.searchText1)" 
                  md-item-text="item.s_country" 
                  md-floating-label="Country"
                  md-selected-item-change="selectedItemChange(vm.selectedItemShipping)">
          <md-item-template>
                  <span>{{item.s_country}}</span>
                </md-item-template>
              </md-autocomplete>
          </div>  
         </div>  
        </div>
      </div> 
    </div>

      <div class="optional" layout="row" layout-align="start start">
          <div class="details">Contact Information</div>
      </div> 

    <div layout="column" class="contact-Details">      

            
      <div  layout="row">
        <div class="detailColOne" flex>
          <div layout="column" layout-gt-xs="row" class="inputHeight">
               <md-input-container class="md-block" flex-gt-sm>
                <label>Phone</label>
                <input type="number" name="phone" ng-required="true" ng-model="vm.contact.phone" ng-pattern="/\d{3}\d{3}\d{4}/" maxlength="10" required>
                <div ng-messages="editForm.phoneNo.$error">
                <div ng-message-exp="['required', 'maxlength' , 'pattern']">
                  Invalid Phone Number
                </div>
              </div> 
              </md-input-container>
          </div> 
          <div layout="column" layout-gt-xs="row" class="inputHeight">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Fax</label>
                    <input type="number" name="fax" ng-required="true" ng-model="vm.contact.fax" ng-pattern="/\d{3}\d{3}\d{4}/" required>
                     <div ng-messages="editForm.phoneNo.$error">
                    <div ng-message-exp="['required', 'maxlength' , 'pattern']">
                      Invalid Fax Number
                    </div>
                  </div>
                  </md-input-container>
          </div>  
        
        </div>

        <div style="width: 5%"></div>
        <div class="detailColTwo" flex>
          <div layout="column" layout-gt-xs="row" class="inputHeight">
                 <md-input-container class="md-block" flex-gt-sm>
                    <label>Mobile</label>
                    <input type="number" name="phone" ng-required="true" ng-model="vm.contact.mobile" ng-pattern="/\d{3}\d{3}\d{4}/" maxlength="10" required>
                    <div ng-messages="editForm.phoneNo.$error">
                    <div ng-message-exp="['required', 'maxlength' , 'pattern']">
                      Invalid Mobile Number
                    </div>
                  </div>
                  </md-input-container>
          </div> 
          <div layout="column" layout-gt-xs="row" class="inputHeight">
                <md-input-container class="md-block" flex-gt-sm>
                <label>Web Site</label>
                <input ng-model="vm.contact.website">
              </md-input-container>
          </div>  
         </div>  
        </div>
      </div>
 
   <div class="optional" layout="row" layout-align="start start">
          <div class="details">Optional Details</div>
      </div> 
    <div layout="column" class="contact-Details">  
        <div layout-gt-sm="row" style="height:64px;">
               <md-input-container class="md-block" flex-gt-sm>
                <label>Notes</label>
                <input ng-model="vm.contact.notes">
              </md-input-container>
        </div>  
    </div>

 
     <div class="optional" layout="row" layout-align="start start">
          <div class="details">Additional Details</div>
      </div> 
    <div layout="column" class="contact-Details">  
      <div  layout="row">
        <div class="detailColOne" flex> 
          <div layout="column" layout-gt-xs="row" class="inputHeight">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Age</label>
                <input type="number" name="age" ng-model="vm.contact.age" required>
                <div ng-messages="editForm.age.$error">
                <div ng-message-exp="['required']">
                  Invalid Number
                </div>
              </div>
              </md-input-container>
          </div>  
        
        </div>

        <div style="width: 5%"></div>
        <div class="detailColTwo" flex>
          <div layout="column" layout-gt-xs="row" class="inputHeight">
                 
            <md-input-container class="md-block" flex-gt-sm>
              <label>NIC</label>
              <input ng-model="vm.contact.NIC">
            </md-input-container>
          </div>  
         </div>  
        </div>
      </div>
</div>
</form>