<div class="compose" layout="column">
    <div class="mainsection" layout="column">
        <div class="composeform" layout="column">

            <div class="formSection">
                <div class="row_encap pad_32" layout="row">
                    <div class="customerinfo" flex>
                        <div class="cusInfo_header" layout="row" layout-align="start start" style="width: 94%;">
                            <md-autocomplete class="no-float" ng-mouseover="vm.onblur($event)" flex md-input-name="autocompleteField" md-no-cache="noCache" md-selected-item="vm.selectedItem1" md-search-text="vm.searchText" md-items="item in vm.querySearch(vm.searchText)" md-item-text="item.display" md-floating-label="Customer" md-selected-item-change="vm.selectedItemChange(item.display, item.profileID)" ng-keyup="vm.keyPressAutoComplete($event)" ng-required="true" md-autofocus="true">
                                <md-item-template>
                                    <span class="item-title">
                                          <span>{{item.display}}</span>
                                    </span>
                                    <span class="item-metadata">
                                          <span class="item-metastat">
                                              <strong>{{item.email}}</strong>
                                          </span>
                                    <md-divider></md-divider>
                                    </span>
                                </md-item-template>
                            </md-autocomplete>
                        </div>
                        <div class="commonPayInfo" layout="column">

                            <md-datepicker ng-model="vm.payment.date" md-placeholder="Date" flex style="margin-left:-15px"></md-datepicker>

                            <md-input-container md-no-float>
                                <md-select placeholder="Payment Method" name="paymentMethod" ng-model="vm.payment.paymentMethod" flex ng-change="vm.paymentMethodChange(vm.payment.paymentMethod)">
                                    <!--<md-optgroup label="Payment Method">-->
                                    <md-option ng-repeat="item in vm.PayArr track by $index" value="{{item}}">{{item}}</md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container md-no-float>
                                <textarea placeholder="Comments" ng-model="vm.basicForm.biography" md-maxlength="150" max-rows="3"></textarea>
                            </md-input-container>

                        </div>
                    </div>
                    <div class="paymentinfo" flex>
                        <div class="payInfo_header" layout="row" layout-align="end start">
                            <span>Payment No : {{vm.payment.paymentRef}}</span>
                        </div>
                        <div class="commonPayInfo" layout="column">

                            <md-input-container md-no-float class="marginEx">
                                <input placeholder="Ammount Received" rasm-numonly ng-model="vm.payment.recievedAmount" ng-required="vm.receiveRequired" ng-change="vm.netAmount()" ng-blur="vm.OnRecivedAmountLostFocus()">
                            </md-input-container>

                            <md-input-container md-no-float class="marginEx">
                                <input placeholder="Bank Charges" rasm-numonly ng-model="vm.payment.bankCharges">
                            </md-input-container>

                            <md-input-container md-no-float>
                                <md-button class="md-primary" style="border:2px solid;" ng-click="upload()">
                                    <md-icon md-font-icon="icon-cloud-upload"></md-icon>
                                    Upload File
                                </md-button>
                            </md-input-container>

                        </div>
                    </div>
                </div>
            </div>

            <div class="formSection">
                <div class="paymentSummary" layout="row">
                    <div class="summaryblocks unappliedAdvances" layout="column" layout-align="center center" flex>
                        <span>Unapplied Advances</span>
                        <span>{{vm.payment.uAmount | currency : vm.payment.baseCurrency+" "}}</span>
                    </div>
                    <div class="summaryblocks availableAdvances" layout="column" layout-align="center center" flex>
                        <span>Total Advances</span>
                        <span>{{vm.nAmount | currency : vm.payment.baseCurrency+" "}}</span>
                    </div>
                    <div class="summaryblocks appliedAdvances" layout="column" layout-align="center center" flex>
                        <span>Total Applied</span>
                        <span>{{vm.payment.aAmount|currency : vm.payment.baseCurrency+" "}}</span>
                    </div>
                </div>
            </div>

            <div class="formSection">
                <div class="row_encap sectionHeader" layout="row">
                    Invoice Details
                </div>
            </div>

            <div class="formSection">
                <div class="lineitems" layout="column">
                    <!-- LIST ITEM HEADER -->
                    <div class="list-items-header" layout="row" layout-align="start center">
                        <div class="list-item-header-control handle"></div>
                        <div class="list-item-header-title left" flex>Date</div>
                        <div class="list-item-header-title center" flex>Invoice No</div>
                        <div class="list-item-header-title center" flex>Due Date</div>
                        <div class="list-item-header-title center" flex>Amount</div>
                        <div class="list-item-header-title center" flex>Balance</div>
                        <div class="list-item-header-title right" flex>Paid Amount</div>
                        <div class="list-item-header-control handle"></div>
                    </div>

                    <div class="line-items-container">
                        <!-- LIST ITEM -->
                        <div class="line-item" layout="row" layout-align="start center" ng-repeat="invo in vm.fullArr">
                            <div layout="row" layout-align="start center" flex>
                                <div class="handle">
                                    <md-checkbox md-no-ink ng-disabled="invo.checkDisable" aria-label="Checkbox No Ink" ng-model="invo.checked" class="md-primary" ng-change="vm.checkItem($index,invo)"></md-checkbox>
                                </div>

                                <div class="info" layout="row" layout-align="start center">
                                    <div class="item-value left" flex>
                                        {{invo.sdate|datetime}}
                                    </div>

                                    <div class="item-value center" flex>
                                        {{invo.invono}}
                                    </div>

                                    <div class="item-value center" flex>
                                        {{invo.duedate|date}}
                                    </div>

                                    <div class="item-value center" flex>
                                        {{invo.famount|currency:payment.baseCurrency+" "}}
                                    </div>

                                    <div class="item-value center" flex>
                                        {{invo.instalment|currency:payment.baseCurrency+" "}}
                                    </div>

                                    <div class="item-value center" flex>
                                        <md-input-container flex md-no-float>
                                            <input rasm-numonly placeholder="Paid Amount" ng-disabled="invo.inputDisable" ng-model="invo.amount" ng-change="vm.getPaidAmount(invo, '{{invo.amount}}',$index)" ng-blur="vm.amountLostFocus($index)">
                                        </md-input-container>
                                    </div>

                                </div>

                                <div class="handle">
                                    <md-button type="button" aria-label="Open demo menu" class="md-icon-button" ng-click="vm.history(invo)">
                                        <md-icon md-font-icon="icon-dots-vertical" style="color:gray;"></md-icon>
                                    </md-button>
                                </div>
                                
                            </div>
                        </div>
                        <!-- LIST ITEM -->
                    </div>

                    <div class="empty-line-items-container" ng-if="!vm.fullArr" layout="row" layout-align="center center">
                        <span>No outstanding invoices for selected customer.</span>
                    </div>
                    <!-- LIST ITEM HOLDER -->
                </div>
            </div>
        </div>
    </div>
</div>