#setting {

.md-content{


.md-list{
.header{
background-color:#f6f6f6; 
height:45px;width:100%;
}

.layout{
padding:0px 0px 10px;
.as-sortable{
.ng-repeat{

.inactivate{
background: #D8D7D7;
}



}

}

}

}
}



.footersection{
width:100%;
height: 64px;
padding:8px 24px;
border-top:1px solid rgba(0, 0, 0, 0.12);
}


}
