<div class="toolbar" layout="row" layout-align="start center">
	<md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('settingsidenav')" hide-gt-md aria-label="Toggle left sidenav">
		<md-icon md-font-icon="icon-menu" class="icon"></md-icon>
	</md-button>
	<h1>Tax Settings</h1>
</div>
<div id="setting" class="contentsection">
	<md-content class="md-content" style="overflow-x: hidden;">
		<md-list class="md-list" style="padding:0px 0px 0px 0px;">
			<div layout="row" layout-align="start center" style="background-color:#f6f6f6;height:45px;width:100%;">
				<div style="margin-left:18px; font-weight: 500;" >
					Individual Taxes
				</div>
			</div>
            <div layout="column" layout-align="center center" ng-if="!vm.Settings12thdoor.taxes.individualTaxes">
                <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="64"></md-progress-circular>
                <div>Loading Individual Taxes...</div>
            </div>
			<div class="layout" layout-gt-sm="column" style="">
				<div class="as-sortable" as-sortable="sortable-container.sortableOptions" ng-model="vm.Settings12thdoor.taxes.individualTaxes" flex="100">
					<div class="ng-repeat" ng-repeat="item in vm.Settings12thdoor.taxes.individualTaxes" as-sortable-item flex>
						<md-card class="add-mdcard" ng-class="item.activate ? '' : 'inactivate'" as-sortable-item-handle flex>
							<md-card-content style="margin: -13px;">
								<div layout="row">
									<div flex>
										<span style="color:#808080;font-size:13px;margin-left:10px;">{{item.taxName}}
											<md-tooltip md-direction="right">Tax Name</md-tooltip>
										</span>
									</div>
									<div flex>
										<span style="color:#808080;font-size:13px;">{{item.rate}}%
											<md-tooltip md-direction="right">Rate %</md-tooltip>
										</span>
									</div>
									<div flex="10" ng-if="!item.compound">
									</div>
									<div >
										
								    </div>
                                        <div flex="10" ng-if="item.compound">
                                            <md-icon md-font-icon="icon-playlist-plus" style="color:#7BD97B;"></md-icon>
								        <md-tooltip md-direction="right">Compound</md-tooltip>
                                        </div>
										<div flex>
											<md-menu md-position-mode="target-right target" layout="row" layout-align="end end" flex-sm="100" style="margin:-11px 0px -32px;">
												<md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
													<md-icon md-font-icon="icon-dots-vertical"></md-icon>
												</md-button>
												<md-menu-content width="4">
													<md-menu-item>
														<md-button ng-click="vm.individualtaxesEdit(item , $event)">
															<p>Edit</p>
															<md-icon md-menu-align-target ></md-icon>
														</md-button>
													</md-menu-item>
													<md-menu-item>
														<md-button ng-click="vm.individualtaxesDelete(item, $index)">
															<p>Delete</p>
															<md-icon md-menu-align-target ></md-icon>
														</md-button>
													</md-menu-item>
													<md-menu-item>
														<md-button ng-click="vm.individualtaxesInactivate(item,$index)">
															<p>{{item.labelIndividualTaxStatus}}</p>
															<md-icon md-menu-align-target ></md-icon>
														</md-button>
													</md-menu-item>
												</md-menu-content>
											</md-menu>
										</div>
									</div>
								</md-card-content>
							</md-card>
				    </div>
				</div>
				</div>
				<md-list-item>
					<md-button class="md-secondary md-primary" style="left:12px; right:0px;" ng-click="vm.individualtaxesAdd($event)" ><md-icon md-font-icon="icon-plus-circle-outline"></md-icon>
                    Tax
                    </md-button>
					<p></p>
				</md-list-item>
<div layout="row" layout-align="start center" style="background-color:#f6f6f6; height:45px;width:100%;">
	<div style="margin-left:18px; font-weight: 500;" >
		Multiple Tax Groups
	</div>
</div>
<div layout="column" layout-align="center center" ng-if="!vm.Settings12thdoor.taxes.individualTaxes">
    <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="64"></md-progress-circular>
    <div>Loading Multiple Tax Groups...</div>
</div>
<div class="layout" layout-gt-sm="column" style="padding:0px 0px 10px;">
	<div class="as-sortable" as-sortable="sortableOptions" ng-model="ads" flex="100">
		<div class="ng-repeat" ng-repeat="item in vm.Settings12thdoor.taxes.multipleTaxGroup" as-sortable-item flex>
			<md-card class="add-mdcard" ng-class="item.activate ? '' : 'inactivate'" style="padding:5px;" as-sortable-item-handle flex>
				<md-card-content style="margin: -13px;">
					<div layout="row">
						<div flex>
							<span style="color:#808080;font-size:13px;margin-left:10px;">{{item.taxName}}
								<md-tooltip md-direction="right">Multiple Tax Groups Name</md-tooltip>
							</span>
						</div>
						<div flex>
							<span ng-repeat="t in item.individualTaxes" style="color:#808080;font-size:13px;">{{t.taxName}}({{t.rate}}%)
								<md-tooltip md-direction="right">Individual Taxes</md-tooltip>
							</span>
						</div>
						<div flex>
							<md-menu md-position-mode="target-right target" layout="row" layout-align="end end" flex-sm="100" style="margin:-11px 0px -32px;">
								<md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
									<md-icon md-font-icon="icon-dots-vertical"></md-icon>
								</md-button>
								<md-menu-content width="4">
									<md-menu-item>
										<md-button ng-click="vm.multipletaxgroupEdit(item , $event)">
											<p>Edit</p>
											<md-icon md-menu-align-target ></md-icon>
										</md-button>
									</md-menu-item>
									<md-menu-item>
										<md-button ng-click="vm.multipletaxgroupDelete(item , $index)">
											<p>Delete</p>
											<md-icon md-menu-align-target ></md-icon>
										</md-button>
									</md-menu-item>
									<md-menu-item>
										<md-button ng-click="vm.multipletaxInactivate(item,$index)">
											<p>{{item.labelMultipleTaxStatus}}</p>
											<md-icon md-menu-align-target ></md-icon>
										</md-button>
									</md-menu-item>
								</md-menu-content>
							</md-menu>
						</div>
					</div>
				</md-card-content>
			</md-card>
		</div>
	</div>
</div>
<md-list-item>
	<md-button class="md-secondary md-primary" style="left:12px; right:0px;" ng-click="vm.multipletaxgroupAdd($event)">
        <md-icon md-font-icon="icon-plus-circle-outline"></md-icon>
        Group Tax
    </md-button>
	<p></p>
</md-list-item>
</md-list>
</md-content>
<div class="footersection" layout="row" layout-align="end center">
	<md-button class="md-primary" style="border:2px solid" ng-click="vm.saveTax()">save</md-button>
</div>
</div>