#invoices {

    // Center
    .center {

        .header {
            padding: 0px 0;

            .sidenav-toggle {
                margin: 0;
                width: 56px;
                height: 56px;
                background: #FFFFFF;
                border-radius: 0;
                border-right: 1px solid rgba(0, 0, 0, 0.12);
            }

            .search {
                height: 56px;
                line-height: 56px;
                padding: 18px;
                background: #FFFFFF;

                .icon {
                    margin: 0;
                }

                input {
                    padding-left: 16px;
                    height: 56px;
                    color: rgba(0, 0, 0, 0.54);
                }
            }
        }

        .content-card {
            min-height:100%;
            .toolbar {
                position: relative;
                padding: 8px 24px;

                .select-menu {

                    .md-icon-button {
                        padding-left: 0;
                        margin: 0;
                    }
                }

                .page-info {
                    font-weight: 500;
                    margin: 0 8px;
                    white-space: nowrap;
                }

                .close-thread {
                    margin: 0 0 0 -8px;
                }
            }

            .content-wrapper {
                position: relative;
            }
        }
    }
}

.thread-labels-toggle-list {

    md-list-item {

        md-icon {
            margin: 0 !important;
        }
    }
}