<md-dialog class="customDialogBox" aria-label="Mango (Fruit)" style="width:800px;">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Add/Edit Role</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="vm.cancel()">
				<md-icon md-font-icon="icon-close"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<div class="dialogContent pad_32" ms-scroll>
		<form>
			<md-content flex>
				<div layout layout-sm="column" layout-margin>
					<md-input-container flex="40" style="margin-top: 17px;">
						<label>Role Name</label>
						<input ng-model="vm.rolesEdit.roleName">
					</md-input-container>
				</div>

				<md-divider></md-divider>

				<div layout layout-margin>
					<div flex="20"><span>Modules</span></div>
					<div flex layout="row" layout-align="center center"><span>View</span></div>
					<div flex layout="row" layout-align="center center"><span>Add</span></div>
					<div flex layout="row" layout-align="center center"><span>Edit</span></div>
					<div flex layout="row" layout-align="center center"><span>Cancel</span></div>
					<div flex layout="row" layout-align="center center"><span>Delete</span></div>
				</div>

				<div>
					<div  layout layout-margin ng-repeat="app in vm.rolesEdit.appPermission" ng-hide="app.appName=='Settings'|| app.appName=='FileManager' || app.appName=='360View'">
						<div flex="20" layout="row" layout-align="start center"><label>{{app.label}}</label></div>
						<div flex layout="row" layout-align="center center"><md-checkbox  ng-model="app.view" class="md-primary"></md-checkbox><md-tooltip md-direction="top">view</md-tooltip></div>
						<div flex layout="row" layout-align="center center"><md-checkbox  ng-model="app.add" class="md-primary">
						</md-checkbox><md-tooltip md-direction="top">add</md-tooltip></div>
						<div flex layout="row" layout-align="center center"><md-checkbox ng-model="app.edit" class="md-primary">
						</md-checkbox><md-tooltip md-direction="top">edit</md-tooltip></div>
						<div flex layout="row" layout-align="center center"><md-checkbox ng-model="app.cancel" class="md-primary">
						</md-checkbox><md-tooltip md-direction="top">cancel</md-tooltip></div>
						<div flex layout="row" layout-align="center center"><md-checkbox ng-model="app.delete" class="md-primary">
						</md-checkbox><md-tooltip md-direction="top">delete</md-tooltip></div>
					</div>

					<md-divider></md-divider>
					<div layout layout-margin>
						<div flex="20"><span>Other Functions</span></div>
						<div flex layout="row" layout-align="center center"><span>Allow</span></div>
						<div flex></div>
						<div flex></div>
						<div flex></div>
						<div flex></div>
						<div flex></div>
					</div>
					<div layout layout-margin>
						<div flex="20" layout="row" layout-align="start center"><label>Dashboard</label></div>
						<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="vm.dashboard" class="md-primary">
						</md-checkbox></div>
						<!-- <div flex hide-sm> -->
						<div flex></div>
						<div flex></div>
						<div flex></div>
						<div flex></div>
						<div flex></div>
					</div>

					<div layout layout-margin>
						<div flex="20" layout="row" layout-align="start center"><label>{{vm.rolesEdit.appPermission[10].appName}}
						</label></div>
						<div flex layout="row" layout-align="center center"><md-checkbox  ng-model="vm.rolesEdit.appPermission[10].view" class="md-primary">
						</md-checkbox><md-tooltip md-direction="top">view</md-tooltip></div>
						<div flex></div>
						<div flex></div>
						<div flex></div>
						<div flex></div>
						<div flex></div>
					</div>

					<div layout layout-margin>
						<div flex="20" layout="row" layout-align="start center"><label>{{vm.rolesEdit.appPermission[11].appName}}</label></div>
						<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="vm.rolesEdit.appPermission[11].view" class="md-primary" ng-disabled="vm.settingDisabled">
						</md-checkbox></div>
						<div flex></div>
						<div flex></div>
						<div flex></div>
						<div flex></div>
						<div flex></div>
					</div>
					<div layout layout-margin>
						<div flex="20" layout="row" layout-align="start center"><label>{{vm.rolesEdit.appPermission[12].appName}}</label></div>
						<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="vm.rolesEdit.appPermission[12].view" class="md-primary">
						</md-checkbox></div>
						<div flex></div>
						<div flex></div>
						<div flex></div>
						<div flex></div>
						<div flex></div>
					</div>
	<!-- <div layout layout-margin>
		<div flex="20" layout="row" layout-align="start center"><label>Log Time</label></div>
		<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="l" class="md-primary">
		</md-checkbox></div>
		<div flex hide-sm>
		</div>
	</div> -->
	<div layout layout-margin>
		<div flex="20" layout="row" layout-align="start center"><label>Customize</label></div>
		<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="vm.customize" class="md-primary">
		</md-checkbox></div>
		<div flex layout="row" layout-align="center center"></div>
		<div flex layout="row" layout-align="center center"></div>
		<div flex layout="row" layout-align="center center"></div>
		<div flex layout="row" layout-align="center center"></div>
		<div flex layout="row" layout-align="center center"></div>
	</div>
</div>
</md-content>
</form>
</div>
<div class="dialogFooter pad_16" layout="row">
	<span flex></span>
	<md-button class="md-primary md-hue-3" ng-click="vm.cancel()" style="margin-right:20px;" >
		Cancel
	</md-button>
	<md-button class="md-primary" ng-click="vm.submit(vm.rolesEdit)" >
		Edit
	</md-button>
</div>
</md-dialog>