
<md-dialog class="customDialogBox" aria-label="Mango (Fruit)" style="width:800px;">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Invite User</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="vm.cancel()">
				<md-icon md-font-icon="icon-close"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<div class="dialogContent pad_32">
		<form name="editForm" novalidate>
			<md-content flex>
				<div layout layout-sm="column" layout-margin>
					<md-input-container flex="30" layout="row" layout-align="start center">
						<label>Email</label>
						<input ng-model="vm.inviteUserEmail" name="inviteUserEmail" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" required ng-disabled="true">
						<div ng-messages="editForm.inviteUserEmail.$error" role="alert">
							<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
								Your email must be between 10 and 100 characters long and look like an e-mail address.
							</div>
						</div>
					</md-input-container>
					
				</div>
				<div layout layout-sm="column" layout-margin>
					<md-input-container flex="30">
						<label>First Name</label>
						<input ng-model="vm.firstName" required>
					</md-input-container>
					<md-input-container flex>
						<label>Last Name</label>
						<input ng-model="vm.lastName">
					</md-input-container>
				</div>
				<div layout layout-sm="column" layout-margin>
					<md-input-container flex>
						<label>Role</label>
						<md-select ng-model="vm.role">
							<md-option ng-repeat="roles in vm.roles" value="{{roles}}" ng-selected="(roles.roleName == 'user') ? true:false" required>{{roles.roleName}}</md-option>
						</md-select>
					</md-input-container>
					<span ng-show="vm.roleRequired" style="color:red; font-size:12px;">Please add role Name</span>
				</div>
				<div layout layout-sm="column" layout-margin>
					<div flex>
						<span style="color: #A2A1A1; font-size: 15px;">An invite email with instructions will be sent to the new user</span>
					</div>
				</div>
				<md-divider></md-divider>
			</md-content>
		</form>
	</div>
	<div class="dialogFooter pad_16" layout="row">
		<span flex></span>
		<md-button class="md-primary md-hue-3" ng-click="vm.cancel()" style="margin-right:20px;">
			Cancel
		</md-button>
		<md-button class="md-primary" ng-click="vm.submit()" ng-disabled="editForm.$invalid" >
			Accept
		</md-button>
	</div>
</md-dialog>