#contacts {
    .center {
        .content-card {
        	.panel-body{
        		overflow:auto;
        	}
        	.toolbarCompose{
        		padding:10px;
        	}
            .compose {
                .mainsection {
                    .info {
                        padding: 32px;
                        width: 100%;
                        .maininfosection {
                            width: 100%;
                            .customerinfo {
                                .cutomeraddress {
                                    width: 90%;
                                    padding: 24px;
                                    background: #F6F6F6;
                                    .addressheader {
                                        width: 100%;
                                        height: 48px;
                                        span {
                                            font-size: 16px;
                                        }
                                    }
                                    .addressinfo {
                                        width: 100%;
                                        span {
                                            font-size: 16px;
                                            color: rgba(0,0,0,0.4);
                                        }
                                    }
                                }
                            }
                            .expenseinfo {
                                .md-datepicker-input-container {
                                    width: 80%;
                                }
                            }
                        }
                    }
                    .summary {
                        width: 100%;
                        height: 128px;
                        background: #F6F6F6;
                        .totalVal {
                            background: #2D6296;
                            height: 100%;
                            width: 40%;
                            i {
                                font-weight: 500;
                                font-size: 16px;
                                color: rgba(255,255,255,0.5);
                            }
                            span {
                                font-weight: 300;
                                font-size: 28px;
                                color: rgb(255,255,255);
                            }
                        }
                    }
                }
                .footersection {
                    width: 100%;
                    height: 64px;
                    padding: 8px 24px;
                    border-top: 1px solid rgba(0,0,0,0.12);
                }
            }
        }
    }
}