<md-dialog class="customDialogBox" aria-label="Mango (Fruit)" style="width:800px;">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Add Individual Taxes</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="vm.cancel()">
				<md-icon md-font-icon="icon-close"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<div class="dialogContent pad_32">
		<form name="editForm" novalidate>
			<md-content flex>
				<div layout layout-sm="column" layout-margin style="margin-top:30px;">
					<md-input-container flex>
						<input name="taxName" ng-model="vm.taxName" type="text" placeholder="Tax Name" required>
						<div ng-messages="editForm.taxName.$error">
							<div ng-message="required">This is required.</div>
						</div>
						<span style="font-size:12px;color:red;" ng-show="vm.sameTaxName">{{vm.erromessage}}</span>
					</md-input-container>

					<md-input-container flex>
						<input ng-model="vm.rate" placeholder="Rate %"  name="rate" rasm-numonly required>
						<div ng-messages="editForm.rate.$error" role="alert">
							<div ng-message-exp="['required']">
								Invalid rate
							</div>
						</div>
					</md-input-container>

					<div flex="20" layout="row" layout-align="center center" style="font-size:13px;">
						<md-checkbox ng-model="vm.compound" aria-label="Checkbox 1" ng-init="vm.compound=false">Compound</md-checkbox>
					</div>
				</div>

			</md-content>

		</form>
	</div>
	<div class="dialogFooter pad_16" layout="row">
		<span flex></span>
		<md-button class="md-primary md-hue-3" ng-click="vm.cancel()" style="margin-right:20px;" >
			Cancel
		</md-button>
		<md-button class="md-primary" ng-click="vm.submit()" ng-disabled="editForm.$invalid">
			Add
		</md-button>
	</div>
</md-dialog>