<md-dialog class="customDialogBox"  aria-label="Mango (Fruit)" style="width:800px;">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Add Multiple Tax Groups</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="vm.cancel()">
				<md-icon md-font-icon="icon-close"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<div class="dialogContent pad_32">
		<form name="editForm" novalidate>
			<md-content flex style="margin-top: 30px;">
				<div layout layout-sm="column" layout-margin style="margin-top:30px;">
					<md-input-container flex md-no-float>
						<input ng-model="vm.taxName" placeholder="Multiple Tax Groups Name" required>
						<div ng-messages="editForm.taxName.$error">
							<div ng-message="required">This is required.</div>
						</div>
						<span style="font-size:12px;color:red;" ng-show="vm.sameTaxName">{{vm.erromessage}}</span>
					</md-input-container>

					<md-input-container flex md-no-float>
						<md-select ng-model="vm.taxname" placeholder="Select Individual Taxes" ng-change="vm.selcetedtax(vm.taxname)" required>
							<md-option ng-repeat="indi in vm.loadAllIndividualTaxes" value="{{indi}}">{{indi.taxName}}</md-option>
						</md-select>
					</md-input-container>

				</div>

				<ul as-sortable="vm.sortableOptions" style="width:20%" ng-model="vm.individualTaxes">
					<li ng-repeat="item in vm.individualTaxes" as-sortable-item>
						<div style="margin-left:-33px;" class="add-mdcard" as-sortable-item-handle>
							<div layout="row" layout-align="start center" layout-sm="column" style="height:10px; margin-top: 10px; margin-bottom: 10px; padding: 5px;">
								<md-list>
									<md-list-item>
										<div flex ng-drag="vm.changeindex($index)">
											<span style="color:#808080; font-size:15px;" >{{item.taxName}}({{item.rate}}%)
											</span>
										</div>
										<div flex="5">
											<span><md-icon ng-click="vm.deleteselecttax(item, $index)" style="color:#A5A0A0" md-font-icon="icon-close"></md-icon></span>
										</div>
									</md-list-item>
								</md-list>

							</div>
						</div>
					</li>
					
				</ul>
				<div><span style="font-size:12px; color:red;">{{vm.text}}</span></div>
			</md-content>
		</form>
	</div>
	<div class="dialogFooter pad_16" layout="row">
		<span flex></span>
		<md-button class="md-primary md-hue-3" ng-click="vm.cancel()" style="margin-right:20px;" >
			Cancel
		</md-button>
		<md-button class="md-primary" ng-click="vm.submit()" ng-disabled="">
			Add
		</md-button>
	</div>
</md-dialog>