<div id="invoicesCompose" class="page-layout carded boxed right-sidenav" layout="row">


    <!-- CENTER -->
    <div class="center" layout="column" layout-align="center center" flex>

        <!-- CONTENT-CARD -->
        <div class="content-card" layout="column" flex>

            <!-- PRIMARY TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="space-between center">
                <div layout="row" layout-align="start center">
                    <md-button class="md-icon-button close-thread" aria-label="Back"
                    ng-click="vm.toggleChildStates('app.invoices.rec')">
                    <md-icon md-font-icon="icon-keyboard-backspace"></md-icon>
                </md-button>

                <div class="divider-vertical"></div>

                <h2>Edit Recurring Invoice</h2>
            </div>
            <div layout="row" layout-align="start center">
                
            </div>
        </div>
        <!-- /PRIMARY TOOLBAR -->
        <!-- CONTENT -->
            <md-content flex ms-scroll>

                <!-- DEMO CONTENT -->  
                <div ng-include="'app/main/invoices/views/recCompose/editRecForm.html'"></div>
                <!-- / DEMO CONTENT -->

            </md-content>
        <!-- WRAPPER -->
        
<div class="formWrapper" style="min-width:100%;">
    <div class="footersection" layout="row" layout-align="end center">
        <md-button class="md-primary" ng-click="vm.cancel()" style="border:2px solid">cancel</md-button>
        <md-button class="md-accent" ng-click="vm.submit()" style="border:2px solid">save</md-button>
    </div>
</div>
</div>
</div>
</div>
