<div class="invoice-container" >
    <div class="detail-wrapper">
        <div class="detail-header" layout="row" layout-align="space-between start">
            <div class="ids" layout="column">
                <div layout="row" class="seller" layout-align="start center">
                    <div class="brandlogo" layout="row" layout-align="center center">
                        <img src="{{vm.companylogo}}" width="156" height="156">
                    </div>

                    <div class="divider"></div>

                    <div class="detail">
                        <div class="title">{{vm.profData.companyName}}</div>
                        <div class="address">{{vm.profData.street}} {{vm.profData.city}} {{vm.profData.state}}</div>
                        <div class="address">{{vm.profData.country}},{{vm.profData.zip}}</div>
                        <div class="phone">{{vm.profData.phoneNo}}</div>
                        <div class="email">{{vm.profData.companyEmail}}</div>
                        <div class="website">{{vm.profData.website}}</div>
                    </div>
                </div>

                <div layout="row" class="client" layout-align="start center">
                    <div class="logo" layout="row" layout-align="center center">
                        <div>{{vm.inv.profileName[0] | uppercase}}</div>
                    </div>

                    <div class="divider"></div>

                    <div class="detail">
                        <div class="title">{{vm.inv.profileName}}</div>
                        <div ng-if="vm.inv.billingAddress" class="address">{{vm.inv.billingAddress.street}},{{vm.inv.billingAddress.city}},{{vm.inv.billingAddress.city}},{{vm.inv.billingAddress.country}}</div>
                        <div ng-if="vm.inv.client.phonenumber" class="phone"><span>Phone</span>:
                            {{vm.inv.contactNo}}
                        </div>
                        <div ng-if="vm.inv.email" class="email">
                            {{vm.inv.email}}
                        </div>
                        <div ng-if="vm.inv.client.website" class="website"><span>Web</span>:
                            {{vm.inv.client.website}}
                        </div>
                    </div>
                </div>
            </div>

            <table class="summary">
            <tr class="">
                    <td class="label"></td>
                    <td class="label"> <md-button ng-if="vm.inv.invoiceStatus=='Pending'" class="md-primary" ng-click="vm.approve(vm.inv)" style="border:2px solid">APPROVE</md-button></td>
                </tr>
                <tr class="code">
                    <td class="label">INVOICE</td>
                    <td class="value">{{vm.inv.invoiceNo}}</td>
                </tr>
                <tr class="tableSpacer"></tr>
                <tr>
                    <td class="label cellSpacer">DATE</td>
                    <td  class="value cellSpacer">{{vm.inv.startDate|date}}</td>
                </tr>

                <tr>
                    <td class="label cellSpacer">DUE DATE</td>
                    <td ng-if="vm.inv.peymentTerm != 'multipleDueDates'" class="value cellSpacer">{{vm.inv.dueDate|date}}</td>
                     <td ng-if="vm.inv.peymentTerm == 'multipleDueDates'" class="value cellSpacer">Multiple Due Dates</td>
                </tr>

                <tr>
                    <td class="label cellSpacer">P.O</td>
                    <td class="value cellSpacer">{{vm.inv.poNumber}}</td>
                </tr>

                <tr>
                    <td class="label cellSpacer">CURRENCY</td>
                    <td class="value cellSpacer">{{vm.inv.changedCurrency}}</td>
                </tr>

                <tr>
                    <td class="label cellSpacer">BALANCE DUE</td>
                    <td class="value cellSpacer">  {{vm.inv.subTotal | currency:vm.inv.changedCurrency+' '}}</td>
                </tr>
            </table>
        </div>

        <span class="invoiceComment">{{vm.inv.comments}}</span>

        <div class="detail-content">
            <table class="invoice-table" style="width:100%">
                <thead class="tableHeader">
                    <th>#</th>
                    <th class="text-left">DESCRIPTION</th>
                    <th class="text-center">QUANTITY</th>
                    <th class="text-center">UOM</th>
                    <th class="text-center">UNIT PRICE</th>
                    <th class="text-center">DISCOUNT</th>
                    <th class="text-right">AMOUNT</th>
                </thead>
                <tbody class="tableBody">
                    <tr ng-repeat="items in vm.inv.invoiceLines">
                        <td style="width:3%;">{{$index + 1}}</td>
                        <td class="text-left" style="width:35%">
                            <div class="title"> {{items.productName}}</div>
                            <div class="detail"> {{items.olp}}</div>
                        </td>
                        <td class="text-center" style="width:5%">
                            {{items.quantity}}
                        </td>
                        <td class="text-center" style="width:5%">
                            {{items.productUnit}}
                        </td>
                        <td class="text-center" style="width:15%">
                            {{items.price * vm.inv.exchangeRate}}
                        </td>
                        <td class="text-center" style="width:8%">
                            {{items.discount}}%
                        </td>
                        <td class="text-right" style="width:15%">
                            {{items.amount * vm.inv.exchangeRate}}
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="simple invoice-table-footer">
                <tbody>
                    <tr class="subtotal">
                        <td>SUBTOTAL</td>
                        <td></td>
                        <td>{{vm.inv.subTotal * vm.inv.exchangeRate| currency:vm.inv.changedCurrency+' '}}</td>
                    </tr>
                    <tr class="tax">
                        <td>TAX</td>
                        <td></td>
                        <td>{{vm.inv.salesTaxAmount * vm.inv.exchangeRate| currency:vm.inv.changedCurrency+' '}}</td>
                    </tr>
                    <tr class="shipping">
                        <td>SHIPPING</td>
                        <td></td>
                        <td>{{vm.inv.shipping * vm.inv.exchangeRate | currency:vm.inv.changedCurrency+' '}}</td>
                    </tr>
                    <tr class="total">
                        <td>TOTAL</td>
                        <td></td>
                        <td>{{vm.inv.netAmount * vm.inv.exchangeRate| currency:vm.inv.changedCurrency+' '}}</td>
                    </tr>
                    <tr class="paid">
                        <td>PAID</td>
                        <td></td>
                        <td>- {{vm.paid * vm.inv.exchangeRate| currency:vm.inv.changedCurrency+' '}}</td>
                    </tr>
                    <tr class="balancedue">
                        <td>BALANCE DUE</td>
                        <td></td>
                        <td><span>{{vm.paymentMethod}}  </span>{{vm.calBalance * vm.inv.exchangeRate| currency:vm.inv.changedCurrency+' '}}</td>
                    </tr>
                </tbody>
            </table>

            <span ng-if="vm.inv.peymentTerm == 'multipleDueDates'" class="smallHeader">Payment Shedule</span>

            <table class="payment-table" ng-if="vm.inv.peymentTerm == 'multipleDueDates'">

                <thead class="tableHeader">
                    <th style="width:3%">#</th>
                    <th style="width:62%" class="text-left">DATE</th>
                    <th style="width:15%" class="text-center">PERCENTAGE (%)</th>
                    <th style="width:20%" class="text-right">AMOUNT</th>
                </thead>
                <tbody>
                    <tr ng-repeat="tt in vm.inv.multiDueDates">
                    
                        <td>{{$index + 1}}</td>
                        <td>
                            {{tt.dueDate}}
                        </td>
                        <td class="text-right">
                            {{tt.percentage}}%
                        </td>
                        <td class="text-right">
                           {{tt.dueDatePrice * vm.inv.exchangeRate}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="detail-footer">
            <div class="footerSegments" layout="column">
                <span class="segmentHeader">Payment Information</span>
                <div class="segmentContent">
                    <span>{{vm.offlinePayments}}</span>
                </div>
            </div>
            <div class="footerSegments">
                <span class="segmentHeader">Notes</span>
                <div class="segmentContent">
                    <span>{{vm.inv.notes}}</span>
                </div>
            </div>
            <div class="footerSegments">
                <span class="segmentHeader">Additional Information</span>
                <div class="segmentContent" layout="row">
                    <span class="contactSegment" flex>CONTACT NUMBER : {{vm.inv.contactNo}}</span>
                    <span class="contactSegment" flex>EMAIL ADDRESS :  {{vm.inv.email}}</span>
                </div>
            </div>
            <div class="footerSegments" ng-show="vm.showShipping">
                <span class="segmentHeader">Shipping Information</span>
                <div class="segmentContent">{{vm.inv.billingAddress.street}},{{vm.inv.billingAddress.city}},{{vm.inv.billingAddress.city}},{{vm.inv.billingAddress.country}}</div>
            </div>
        </div>
    </div>

    <div class="page-break"></div>

</div>