<md-dialog class="customDialogBox" aria-label="Mango (Fruit)" style="width:800px;">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Task</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="vm.cancel()">
				<md-icon md-font-icon="icon-close"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<div class="dialogContent pad_32">
		<form name="editForm" novalidate>
			<md-content flex>
				<div layout layout-sm="column" layout-margin>
					<md-input-container flex md-no-float>
                        <input type="text" ng-model="vm.task" placeholder="Task" required>
                    </md-input-container>
                    <md-input-container flex md-no-float>
                        <input type="text" ng-model="vm.hourlyRate" placeholder="Hourly Rate" required>
                    </md-input-container>
				</div>
			</md-content>
		</form>
	</div>
	<div class="dialogFooter pad_16" layout="row">
		<span flex></span>
		<md-button class="md-primary md-hue-3" ng-click="vm.cancel()" style="margin-right:20px;" >
			Cancel
		</md-button>
		<md-button class="md-primary" ng-click="vm.submit()" ng-disabled="editForm.$invalid">
			Add
		</md-button>
	</div>
</md-dialog>