<!-- (UI/UX) Meaningfull empty state - start -->

<div class="empty-items" ng-if="vm.paymentSummary.length === 0">There are no Payments in '{{vm.currentFilter.filter}}'!</div>
<div class="loading-items" layout="column" layout-align="center center" ng-if="!vm.paymentSummary">
    <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="64"></md-progress-circular>
    <div>Loading Payments...</div>
</div>

<!-- (UI/UX) Meaningfull empty state - end -->

<!-- empty states ui handler - start -->
<div class="pay-item {{item.status}}" md-ink-ripple
     ng-repeat="item in vm.paymentSummary | filter: global.search"
     ng-click="vm.openItem(item)"
     ng-class="{'unviewd': !item.read, 'current-item': vm.currentThread === item, 'selected': vm.isSelected(item)}"> 
    <div class="primarycontainer" layout="row" layout-align="start center">
        
        <div class="cygil">
            <div class="avatar" ms-random-class="vm.contactColors" style="margin-left:8px;">
                {{item.profileName[0] | uppercase}}
            </div>
        </div>

        <div class="info" flex layout="column">
            <div class="primaryInfo" layout="row" layout-align="start center">
                <span class="text-truncate">{{item.receiptID}}</span>
                <div class="divider-vertical"></div>
                <span class="text-truncate">{{item.createDate | toDateObject | date:'d MMM, y'}}</span>
            </div>

            <div class="secondaryInfo" layout="row" layout-align="start center">
                <span class="text-truncate">Customer : {{item.profileName}}</span>
                <div class="divider-vertical"></div>
                <span class="text-truncate">Transaction Date : {{item.lastTranDate | toDateObject |  date:'d MMM, y'}}</span>
                <div class="divider-vertical" ng-if="item.paidTypes"></div>
                <span class="text-truncate" ng-if="item.paidTypes">Payment Method : {{item.paidTypes}}</span> 
            </div>

        </div>

        <div class="status" layout="column" layout-align="center end">
            <span class="text-truncate"> {{item.recievedAmount | currency :vm.baseCurrency}}</span>
            <div class="payStatus {{item.paymentStatus}}" layout="row" layout-align="start center">
                <div class="status-circle"></div>
                <div class="status-label">{{item.paymentStatus}}</div>
            </div>
        </div>

        <div layout="column" layout-align="space-between end">
            <md-button class="md-icon-button" ng-click="vm.toggleThreadStatus('starred', item, $event)"
                       aria-label="Toggle starred">
                <md-icon ng-if="item.favoriteStar" md-font-icon="icon-star"
                         class="amber-fg"></md-icon>
                <md-icon ng-if="!item.favoriteStar" md-font-icon="icon-star-outline"></md-icon>
            </md-button>
        </div>
    </div>
</div>
