#Payment {

    .center {

        .content-card {

            .content-wrapper {
                background: #FAFAFA;

                .item-list {
                    position: relative;
                    padding: 0;

                    .empty-items {
                        background: #FAFAFA;
                        width: 100%;
                        text-align: center;
                        padding: 32px;
                        font-size: 20px;
                    }

                    .loading-items {
                        background: #FAFAFA;
                        width: 100%;
                        text-align: center;
                        padding: 32px;
                        font-size: 20px;
                    }

                    .pay-item {
                        background: #FAFAFA;
                        position: relative;
                        padding:0px !important;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                        cursor: pointer;

                        &.untouched {
                            background: #FFFFFF;

                            .info {

                                .name,
                                .subject {
                                    font-weight: 700;
                                }

                                .message {

                                    .labels {
                                        background: #FFFFFF;
                                    }
                                }
                            }
                        }

                        &.selected {
                            background: #dce7f2;

                            .info {

                                .message {

                                    .labels {
                                        background: #dce7f2;
                                    }
                                }
                            }
                        }

                        &.current-item {
                            background: #E3F2FD;

                            .info {

                                .message {

                                    .labels {
                                        background: #E3F2FD;
                                    }
                                }
                            }
                        }


                        .primarycontainer{
                            padding: 16px 24px;

                            .info {
                                overflow: hidden;
                                width: 0;
                                margin: 0 16px;

                                .primaryInfo {
                                    font-size: 15px;
                                    font-weight: 500;
                                    padding-bottom: 8px;

                                    .avatar {
                                        min-width: 32px;
                                        width: 32px;
                                        height: 32px;
                                        line-height: 32px;
                                    }

                                    .has-attachment {
                                        margin-left: 8px;
                                        transform: rotate(90deg);
                                    }
                                }

                                .secondaryInfo {

                                }

                            }
                        }

                        .status {
                            font-weight:500;

                            span:nth-child(1){
                                font-size:16px; 
                            }

                            .payStatus{
                                font-size: 12px;
                                border-radius: 2px;
                                margin: 8px 0 0 0;
                                padding: 3px 8px;
                                color:#fafafa;
                                background-color: rgba(0, 0, 0, 0.08);

                                .status-circle{
                                    width: 8px;
                                    height: 8px;
                                    margin-right: 8px;
                                    border-radius: 50%;
                                    background-color:#fafafa;
                                }

                                &.active{
                                    background-color:#8BC34A;
                                    border:1px solid #689F38;
                                }

                                &.cancel{
                                    background-color:#9E9E9E;
                                     border:1px solid #757575;
                                }

                            }
                            
                        }

                        .time {
                            margin: 0 8px 6px 8px;
                        }

                        .actions {

                            .md-icon-button {
                                margin: 0;
                                padding: 0;
                                width: 32px;
                                height: 32px;
                            }
                        }
                    }
                }
            }
            
        }
    }
}