<!-- (UI/UX) Meaningfull empty state - start -->

<div class="empty-items" ng-if="vm.items.length === 0">There are no invoices in '{{vm.currentFilter.filter}}'!</div>
<div class="loading-items" layout="column" layout-align="center center" ng-if="!vm.items">
    <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="64"></md-progress-circular>
    <div>Loading Invoices...</div>
</div>

<!-- (UI/UX) Meaningfull empty state - end -->

<!-- empty states ui handler - start -->
<div class="inv-item {{item.status}}" md-ink-ripple
     ng-if="!vm.loadingItems"
     ng-repeat="item in vm.items | filter: global.search"
     ng-click="vm.openItem(item)"
     ng-class="{'unviewd': !item.read, 'current-item': vm.currentThread === item, 'selected': vm.isSelected(item)}">

    <div class="primarycontainer" layout="row" layout-align="start center">

       <!--  <md-checkbox class="no-label"
                     ng-checked="vm.isSelected(item)"
                     ng-click="vm.toggleSelectThread(item, $event)"
                     aria-label="{{vm.isSelected(item) ? 'Deselect' : 'Select'}}">
        </md-checkbox> -->

        <!-- <div class="divider-vertical"></div> -->

        <div class="cygil">
            <div class="avatar" ms-random-class="vm.contactColors" style="margin-left:8px;">
                {{item.profileName[0] | uppercase}}
            </div>
        </div>

        <div class="info" flex layout="column">
            <div class="primaryInfo" layout="row" layout-align="start center">
                <span class="text-truncate">{{item.invoiceNo}}</span>
                <div class="divider-vertical"></div>
                <span class="text-truncate"> {{item.startDate | date}}</span>  
            </div>

            <div class="secondaryInfo" layout="row" layout-align="start center">
                <span class="text-truncate">Customer : {{item.profileName}}</span>
                <div class="divider-vertical"></div>
                <span class="text-truncate">Due Date : {{item.dueDate | date }} </span>
                <div class="divider-vertical"></div>
                <span class="text-truncate">Balance Due : {{item.balance | currency:item.baseCurrency}}</span>
            </div>

        </div>

        <div class="status" layout="column" layout-align="center end">
            <span class="text-truncate">{{item.netAmount | currency:item.baseCurrency}}</span>
            <div class="invStatus {{item.invoiceStatus}}" layout="row" layout-align="start center">
                <div class="status-circle"></div>
                <div class="status-label">{{item.invoiceStatus}}</div>
            </div>
        </div>

        <div layout="column" layout-align="space-between end">
            <md-button class="md-icon-button" ng-click="vm.toggleThreadStatus('favouriteStar', item, $event)"
                       aria-label="Toggle starred">
                <md-icon ng-if="item.favouriteStar" md-font-icon="icon-star"
                         class="amber-fg"></md-icon>
                <md-icon ng-if="!item.favouriteStar" md-font-icon="icon-star-outline"></md-icon>
            </md-button>
        </div>
    </div>
</div>
